{% doc %}
  Renders a list of product's price (regular, sale)

  @param {object} [product] - Product Liquid object (optional)
  @param {boolean} [use_variant] - Renders selected or first variant price instead of overall product pricing (optional)
  @param {string} [price_font] - Font type (optional - heading / body). Default: body
  @param {string} [price_font_size] - Font size (optional - h1 ... h6)
  @param {boolean} [is_placeholder] - Flag for render placeholder price (optional)
  @param {boolean} [is_placeholder_sale_price] - Flag for render placeholder dicounted price (optional)
  @param {string} [display_mode_variant_prices] - Display mode for variant prices (optional) ('min_price', 'range', 'max_price') (default: 'range')

  @example
  {% render 'price', product: product %}
{% enddoc %}

{%- liquid
  if use_variant
    assign target = product.selected_or_first_available_variant
  else
    assign target = product
  endif

  if is_placeholder
    assign target = blank
  endif

  assign compare_at_price = target.compare_at_price
  if is_placeholder_sale_price == true
    assign compare_at_price = 2199
  endif
  assign compare_at_price_min = target.compare_at_price_min | money
  assign compare_at_price_max = target.compare_at_price_max | money
  assign money_compare_at_price = compare_at_price | money

  assign price = target.price | default: 1999
  assign price_min = target.price_min | money
  assign price_max = target.price_max | money
  assign money_price = price | money

  if settings.currency_code_enabled
    assign money_price = price | money_with_currency
    assign money_compare_at_price = compare_at_price | money_with_currency
    assign compare_at_price_min = target.compare_at_price_min | money_with_currency
    assign compare_at_price_max = target.compare_at_price_max | money_with_currency
    assign price_min = target.price_min | money_with_currency
    assign price_max = target.price_max | money_with_currency
  endif

  if target == product and product.price_varies
    assign money_price = price_min | append: ' - ' | append: price_max
    capture money_price
      echo '<span dir="ltr">'
      echo price_min
      echo '</span> <span> - </span> <span dir="ltr">'
      echo price_max
      echo '</span>'
    endcapture

    if display_mode_variant_prices == 'min_price'
      assign money_price = 'products.product.price.min_price_label' | t | append: ' ' | append: price_min
    endif

    if display_mode_variant_prices == 'max_price'
      assign money_price = 'products.product.price.max_price_label' | t | append: ' ' | append: price_max
    endif
  endif

  if target == product and product.compare_at_price_varies
    assign money_compare_at_price = compare_at_price_min | append: ' - ' | append: compare_at_price_max
    capture money_compare_at_price
      echo '<span dir="ltr">'
      echo compare_at_price_min
      echo '</span> <span> - </span> <span dir="ltr">'
      echo compare_at_price_max
      echo '</span>'
    endcapture

    if display_mode_variant_prices == 'min_price'
      assign money_compare_at_price = compare_at_price_min
    endif

    if display_mode_variant_prices == 'max_price'
      assign money_compare_at_price = compare_at_price_max
    endif
  endif
-%}

<div
  class="price{% if compare_at_price > price %} price--on-sale{% endif %}{% if product.price_varies == false and product.compare_at_price_varies %} price--no-compare{% endif %}"
  {% if settings.currency_code_enabled -%}
    data-currency-code="{{ cart.currency.iso_code }}"
  {%- endif %}
>
  <dl class="price-text{% if price_font != blank %} price-text--{{ price_font }}{% if price_font == 'heading' %} {{ price_font_size | default: 'h6' }}{% else %}-{{ price_font_size | default: 'h6' }}{% endif %}{% endif %}">
    {%- comment -%}
      Explanation of description list:
      - div.price__regular: Displayed when there are no variants on sale
      - div.price__sale: Displayed when a variant is a sale
    {%- endcomment -%}
    <div class="price__regular">
      <dt class="visually-hidden">{{- 'products.product.price.regular_price' | t -}}</dt>
      <dd>
        <span class="price-item price-item--regular">
          {{- money_price -}}
        </span>
      </dd>
    </div>
    <div class="price__sale">
      <dt class="visually-hidden">{{- 'products.product.price.sale_price' | t -}}</dt>
      <dd>
        <span class="price-item price-item--sale">
          {{- money_price -}}
        </span>
      </dd>
      <dt class="visually-hidden">{{- 'products.product.price.regular_price' | t -}}</dt>
      <dd class="price__compare">
        <s class="price-item price-item--regular">
          {{- money_compare_at_price -}}
        </s>
      </dd>
    </div>
  </dl>

  <dl class="unit-price{% if product.selected_or_first_available_variant.unit_price_measurement == nil or is_placeholder %} hidden{% endif %}">
    <dt class="visually-hidden">{{- 'products.product.price.unit_price' | t -}}</dt>
    <dd>
      {{-
        product.selected_or_first_available_variant.unit_price
        | unit_price_with_measurement: product.selected_or_first_available_variant.unit_price_measurement
      -}}
    </dd>
  </dl>
</div>
