{% doc %}
  Renders product specification groups from metafields.

  @param {object} product - Product Liquid object
  @param {object} block_obj - Block Liquid object

  @example
  {% render 'product-block-specification', product: product, block_obj: block %}
{% enddoc %}

{%- liquid
  assign specification_groups = blank
  if product.metafields.custom.specification != blank
    assign specification_groups = product.metafields.custom.specification.value
  endif

  assign has_specifications = false
  if specification_groups != blank
    assign has_specifications = true
  endif

  assign specification_default_open = false
  if block_obj != blank and block_obj.settings.default_open
    assign specification_default_open = true
  endif

  assign block_attributes = ''
  if block_obj != blank
    assign block_attributes = block_obj.shopify_attributes
  endif
-%}

{%- if has_specifications -%}
   <div class="product-specifications">
    {%- for specification_group in specification_groups -%}
      {%- if specification_group.specification_title != blank -%}
        {%- assign group_default_open = false -%}
        {%- if specification_default_open and forloop.first -%}
          {%- assign group_default_open = true -%}
        {%- endif -%}
        <div class="product-accordion product-accordion--specification" {{ block_attributes }}>
          <button
            class="button button--simple product-accordion__toggle{% if group_default_open %} active{% endif %} focus-inset"
            aria-label="{{ specification_group.specification_title | escape }}"
          >
            <div class="button__content">
              <span class="button__label" data-label="{{- specification_group.specification_title | escape -}}">
                {{- specification_group.specification_title | escape -}}
              </span>

              <div class="product-accordion__icon">
                {% render 'icon-plus-dropdown' %}
                {% render 'icon-minus-dropdown' %}
              </div>
            </div>
          </button>

          <div class="product-accordion__content{% if group_default_open %} active{% endif %}">
            {%- if specification_group.specification_item.value != blank or specification_group.specification_headings.value != blank -%}
                <div class="product-accordion__specification-items">
                {%- if specification_group.specification_headings.value != blank -%}
                    <div class="product-accordion__specification-item product-accordion__specification-item--heading">
                      {%- for specification_heading in specification_group.specification_headings.value -%}
                      <div class="product-accordion__specification-cell product-accordion__specification-cell--heading">
                        {{- specification_heading -}}
                      </div>
                      {%- endfor -%}
                    </div>
                {%- endif -%}
                {%- if specification_group.specification.value != blank -%}
                  {%- for specification_item in specification_group.specification.value -%}
                    <div class="product-accordion__specification-item">
                      {%- if specification_item.column_1 != blank -%}
                        <div class="product-accordion__specification-cell">
                          {{- specification_item.column_1 -}}
                        </div>
                      {%- endif -%}
                      {%- if specification_item.column_2 != blank -%}
                        <div class="product-accordion__specification-cell">
                          {{- specification_item.column_2 -}}
                        </div>
                      {%- endif -%}
                      {%- if specification_item.column_3 != blank -%}
                        <div class="product-accordion__specification-cell">
                          {{- specification_item.column_3 -}}
                        </div>
                      {%- endif -%}
                      {%- if specification_item.column_4 != blank -%}
                        <div class="product-accordion__specification-cell">
                          {{- specification_item.column_4 -}}
                        </div>
                      {%- endif -%}
                    </div>
                  {%- endfor -%}
                {%- endif -%}
              </div>
            {%- endif -%}
          </div>
        </div>
      {%- endif -%}
    {%- endfor -%}
   </div>
   {% render 'product-block-divider', block_obj: block %}
{%- endif -%}
