{{ 'section-blog-posts.css' | asset_url | stylesheet_tag }}
{{ 'component-article-card.css' | asset_url | stylesheet_tag }}
<script src="{{ 'blog-posts.js' | asset_url }}" defer="defer"></script>

{% style %}
  {% render 'section-padding' %}
  {% render 'section-margin' %}
{% endstyle %}

<div
  class="blog-posts color-{{ section.settings.color_scheme }} background section-{{ section.id }}-padding{% if section.settings.enable_border_top %} section-border-top{% endif %}{% if section.settings.enable_border_bottom %} section-border-bottom{% endif %}"
  data-layout="{{ section.settings.layout }}"
>
  {% comment %} RENDER HEADING GROUP {% endcomment %}
  {% liquid
    assign has_slider_controls = false
    if section.settings.layout == 'slider'
      assign has_slider_controls = true
    endif
  %}
  {% render 'heading-group',
    settings: section.settings,
    class: 'blog-posts-header',
    has_slider_controls: has_slider_controls
  %}

  {% comment %} RENDER MAIN CONTENT {% endcomment %}
  <div
    class="blog-posts-layout{% if section.settings.layout == 'slider' %} swiper--blog-posts swiper{% endif %}"
    {% if section.settings.layout == 'slider' %}
      data-cards-per-row="{{ section.settings.posts_per_row }}"
    {% endif %}
  >
    <div class="blog-posts-wrapper blog-posts-wrapper--{{ section.settings.posts_per_row }} blog-posts-wrapper--{{ section.settings.layout }}{% if section.settings.layout == 'slider' %} swiper-wrapper{% endif %}">
      {% if section.settings.blog != blank %}
        {%- for article in section.settings.blog.articles limit: section.settings.posts_count -%}
          <div class="blog-posts-card{% if section.settings.layout == 'slider' %} swiper-slide{% endif %}">
            {% render 'article-card',
              blog: section.settings.blog,
              article: article,
              article_heading_font_size: section.settings.article_heading_font_size,
              article_heading_tag: section.settings.article_heading_tag,
              object_fit: section.settings.object_fit,
              aspect_ratio: section.settings.aspect_ratio,
              show_image: section.settings.show_image,
              show_date: section.settings.show_date,
              show_author: section.settings.show_author,
              show_tags: section.settings.show_tags,
              show_excerpt: section.settings.show_excerpt,
              show_comments_count: section.settings.show_comments_count,
              columns_count: section.settings.posts_per_row
            %}
          </div>
        {%- endfor -%}
      {% else %}
        {%- for i in (1..section.settings.posts_count) -%}
          <div class="blog-posts-card{% if section.settings.layout == 'slider' %} swiper-slide{% endif %}">
            {% render 'article-card-placeholder',
              article_index: forloop.index,
              article_heading_font_size: section.settings.article_heading_font_size,
              article_heading_tag: section.settings.article_heading_tag,
              aspect_ratio: section.settings.aspect_ratio,
              show_image: section.settings.show_image,
              show_date: section.settings.show_date,
              show_author: section.settings.show_author,
              show_tags: section.settings.show_tags,
              show_comments_count: section.settings.show_comments_count,
              show_excerpt: section.settings.show_excerpt,
              columns_count: section.settings.posts_per_row
            %}
          </div>
        {%- endfor -%}
      {% endif %}
    </div>
  </div>
</div>

{% schema %}
{
  "name": "t:sections.blog-posts.name",
  "tag": "section",
  "class": "section-blog-posts",
  "enabled_on": {
    "templates": ["*"]
  },
  "settings": [
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "default": "background-1",
      "label": "t:sections.all.color_scheme.label"
    },
    {
      "type": "blog",
      "id": "blog",
      "label": "t:sections.blog-posts.settings.blog.label"
    },
    {
      "type": "select",
      "id": "layout",
      "label": "t:sections.all.section_layout.label",
      "options": [
        {
          "value": "slider",
          "label": "t:sections.all.section_layout.options__1.label"
        },
        {
          "value": "grid",
          "label": "t:sections.all.section_layout.options__2.label"
        }
      ],
      "default": "grid"
    },
    {
      "type": "range",
      "id": "posts_per_row",
      "label": "t:sections.blog-posts.settings.posts_per_row.label",
      "min": 1,
      "max": 4,
      "step": 1,
      "default": 4
    },
    {
      "type": "range",
      "id": "posts_count",
      "label": "t:sections.blog-posts.settings.posts_count.label",
      "min": 1,
      "max": 12,
      "step": 1,
      "default": 4
    },
    {
      "type": "checkbox",
      "id": "enable_border_top",
      "default": true,
      "label": "t:sections.all.borders.enable_border_top.label"
    },
    {
      "type": "checkbox",
      "id": "enable_border_bottom",
      "default": false,
      "label": "t:sections.all.borders.enable_border_bottom.label"
    },
    {
      "type": "header",
      "content": "t:sections.all.section_heading_group.header.content"
    },
    {
      "type": "inline_richtext",
      "id": "heading",
      "label": "t:sections.all.heading.label",
      "default": "t:sections.blog-posts.settings.heading.default"
    },
    {
      "type": "select",
      "id": "heading_font",
      "options": [
        {
          "value": "heading",
          "label": "t:sections.all.heading_font.options__1.label"
        },
        {
          "value": "body",
          "label": "t:sections.all.heading_font.options__2.label"
        }
      ],
      "default": "body",
      "label": "t:sections.all.heading_font.label",
      "visible_if": "{{ section.settings.heading != blank }}"
    },
    {
      "type": "select",
      "id": "heading_size",
      "options": [
        {
          "value": "h6",
          "label": "t:sections.all.heading_size.options__6.label"
        },
        {
          "value": "h5",
          "label": "t:sections.all.heading_size.options__5.label"
        },
        {
          "value": "h4",
          "label": "t:sections.all.heading_size.options__4.label"
        },
        {
          "value": "h3",
          "label": "t:sections.all.heading_size.options__3.label"
        },
        {
          "value": "h2",
          "label": "t:sections.all.heading_size.options__2.label"
        },
        {
          "value": "h1",
          "label": "t:sections.all.heading_size.options__1.label"
        }
      ],
      "default": "h6",
      "label": "t:sections.all.heading_size.label",
      "visible_if": "{{ section.settings.heading != blank and section.settings.heading_font == 'heading' or section.settings.layout == 'slider' }}"
    },
    {
      "type": "select",
      "id": "heading_tag",
      "options": [
        {
          "value": "h1",
          "label": "t:sections.all.heading_tag.options__1.label"
        },
        {
          "value": "h2",
          "label": "t:sections.all.heading_tag.options__2.label"
        },
        {
          "value": "h3",
          "label": "t:sections.all.heading_tag.options__3.label"
        },
        {
          "value": "h4",
          "label": "t:sections.all.heading_tag.options__4.label"
        },
        {
          "value": "h5",
          "label": "t:sections.all.heading_tag.options__5.label"
        },
        {
          "value": "h6",
          "label": "t:sections.all.heading_tag.options__6.label"
        },
        {
          "value": "div",
          "label": "t:sections.all.heading_tag.options__7.label"
        }
      ],
      "default": "h2",
      "label": "t:sections.all.heading_tag.label",
      "info": "t:sections.all.heading_tag.info",
      "visible_if": "{{ section.settings.heading != blank }}"
    },
    {
      "type": "checkbox",
      "id": "heading_group_button_show",
      "label": "t:sections.all.button.button_show.label",
      "default": true
    },
    {
      "type": "text",
      "id": "heading_group_button_label",
      "label": "t:sections.all.button.button_label.label",
      "default": "t:sections.all.button.button_label.default_read_all",
      "visible_if": "{{ section.settings.heading_group_button_show }}"
    },
    {
      "type": "url",
      "id": "heading_group_button_link",
      "label": "t:sections.all.button.button_link.label",
      "visible_if": "{{ section.settings.heading_group_button_show }}"
    },
    {
      "type": "select",
      "id": "heading_group_button_style",
      "options": [
        {
          "value": "primary",
          "label": "t:sections.all.button.button_style.options__1.label"
        },
        {
          "value": "secondary",
          "label": "t:sections.all.button.button_style.options__2.label"
        },
        {
          "value": "tertiary",
          "label": "t:sections.all.button.button_style.options__3.label"
        }
      ],
      "default": "tertiary",
      "label": "t:sections.all.button.button_style.label",
      "visible_if": "{{ section.settings.heading_group_button_show }}"
    },
    {
      "type": "checkbox",
      "id": "heading_group_enable_border_bottom",
      "default": true,
      "label": "t:sections.all.borders.enable_border_bottom.label",
      "visible_if": "{{ section.settings.heading != blank or section.settings.heading_group_button_show or section.settings.layout == 'slider' }}"
    },
    {
      "type": "header",
      "content": "t:sections.blog-posts.settings.header__cards.content"
    },
    {
      "type": "select",
      "id": "article_heading_font_size",
      "options": [
        {
          "value": "h6",
          "label": "t:sections.all.heading_size.options__6.label"
        },
        {
          "value": "h5",
          "label": "t:sections.all.heading_size.options__5.label"
        },
        {
          "value": "h4",
          "label": "t:sections.all.heading_size.options__4.label"
        },
        {
          "value": "h3",
          "label": "t:sections.all.heading_size.options__3.label"
        },
        {
          "value": "h2",
          "label": "t:sections.all.heading_size.options__2.label"
        }
      ],
      "default": "h6",
      "label": "t:sections.blog-posts.settings.article_heading_font_size.label"
    },
    {
      "type": "select",
      "id": "article_heading_tag",
      "options": [
        {
          "value": "h1",
          "label": "t:sections.all.heading_tag.options__1.label"
        },
        {
          "value": "h2",
          "label": "t:sections.all.heading_tag.options__2.label"
        },
        {
          "value": "h3",
          "label": "t:sections.all.heading_tag.options__3.label"
        },
        {
          "value": "h4",
          "label": "t:sections.all.heading_tag.options__4.label"
        },
        {
          "value": "h5",
          "label": "t:sections.all.heading_tag.options__5.label"
        },
        {
          "value": "h6",
          "label": "t:sections.all.heading_tag.options__6.label"
        },
        {
          "value": "div",
          "label": "t:sections.all.heading_tag.options__7.label"
        }
      ],
      "default": "h3",
      "label": "t:sections.blog-posts.settings.article_heading_tag.label",
      "info": "t:sections.all.heading_tag.info"
    },
    {
      "type": "checkbox",
      "id": "show_image",
      "default": true,
      "label": "t:sections.blog-posts.settings.show_image.label"
    },
    {
      "type": "select",
      "id": "aspect_ratio",
      "options": [
        {
          "value": "landscape",
          "label": "t:sections.all.card.image_ratio.options__1.label"
        },
        {
          "value": "portrait",
          "label": "t:sections.all.card.image_ratio.options__2.label"
        },
        {
          "value": "square",
          "label": "t:sections.all.card.image_ratio.options__3.label"
        },
        {
          "value": "adapt",
          "label": "t:sections.all.card.image_ratio.options__4.label"
        }
      ],
      "default": "portrait",
      "label": "t:sections.all.card.image_ratio.label",
      "visible_if": "{{ section.settings.show_image }}"
    },
    {
      "type": "select",
      "id": "object_fit",
      "options": [
        {
          "value": "contain",
          "label": "t:sections.all.card.image_fit.options__1.label"
        },
        {
          "value": "cover",
          "label": "t:sections.all.card.image_fit.options__2.label"
        }
      ],
      "default": "cover",
      "label": "t:sections.all.card.image_fit.label",
      "visible_if": "{{ section.settings.show_image }}"
    },
    {
      "type": "checkbox",
      "id": "show_date",
      "default": true,
      "label": "t:sections.blog-posts.settings.show_date.label"
    },
    {
      "type": "checkbox",
      "id": "show_tags",
      "default": true,
      "label": "t:sections.blog-posts.settings.show_tags.label"
    },
    {
      "type": "checkbox",
      "id": "show_author",
      "default": true,
      "label": "t:sections.blog-posts.settings.show_author.label"
    },
    {
      "type": "checkbox",
      "id": "show_comments_count",
      "default": false,
      "label": "t:sections.main-blog.settings.show_comments_count.label"
    },
    {
      "type": "checkbox",
      "id": "show_excerpt",
      "default": true,
      "label": "t:sections.blog-posts.settings.show_excerpt.label"
    },
    {
      "type": "header",
      "content": "t:sections.all.section-padding.header.content"
    },
    {
      "type": "select",
      "id": "padding_top",
      "options": [
        {
          "value": "no-indent",
          "label": "t:sections.all.section-padding.options__1.label"
        },
        {
          "value": "xs",
          "label": "t:sections.all.section-padding.options__2.label"
        },
        {
          "value": "s",
          "label": "t:sections.all.section-padding.options__3.label"
        },
        {
          "value": "m",
          "label": "t:sections.all.section-padding.options__4.label"
        },
        {
          "value": "l",
          "label": "t:sections.all.section-padding.options__5.label"
        },
        {
          "value": "xl",
          "label": "t:sections.all.section-padding.options__6.label"
        }
      ],
      "default": "no-indent",
      "label": "t:sections.all.section-padding.padding_top.label"
    },
    {
      "type": "select",
      "id": "padding_bottom",
      "options": [
        {
          "value": "no-indent",
          "label": "t:sections.all.section-padding.options__1.label"
        },
        {
          "value": "xs",
          "label": "t:sections.all.section-padding.options__2.label"
        },
        {
          "value": "s",
          "label": "t:sections.all.section-padding.options__3.label"
        },
        {
          "value": "m",
          "label": "t:sections.all.section-padding.options__4.label"
        },
        {
          "value": "l",
          "label": "t:sections.all.section-padding.options__5.label"
        },
        {
          "value": "xl",
          "label": "t:sections.all.section-padding.options__6.label"
        }
      ],
      "default": "no-indent",
      "label": "t:sections.all.section-padding.padding_bottom.label"
    },
    {
      "type": "header",
      "content": "t:sections.all.section-margin.header.content"
    },
    {
      "type": "select",
      "id": "margin_top",
      "options": [
        {
          "value": "no-indent",
          "label": "t:sections.all.section-margin.options__1.label"
        },
        {
          "value": "xs",
          "label": "t:sections.all.section-margin.options__2.label"
        },
        {
          "value": "s",
          "label": "t:sections.all.section-margin.options__3.label"
        },
        {
          "value": "m",
          "label": "t:sections.all.section-margin.options__4.label"
        },
        {
          "value": "l",
          "label": "t:sections.all.section-margin.options__5.label"
        },
        {
          "value": "xl",
          "label": "t:sections.all.section-margin.options__6.label"
        }
      ],
      "default": "no-indent",
      "label": "t:sections.all.section-margin.margin_top.label"
    },
    {
      "type": "select",
      "id": "margin_bottom",
      "options": [
        {
          "value": "no-indent",
          "label": "t:sections.all.section-margin.options__1.label"
        },
        {
          "value": "xs",
          "label": "t:sections.all.section-margin.options__2.label"
        },
        {
          "value": "s",
          "label": "t:sections.all.section-margin.options__3.label"
        },
        {
          "value": "m",
          "label": "t:sections.all.section-margin.options__4.label"
        },
        {
          "value": "l",
          "label": "t:sections.all.section-margin.options__5.label"
        },
        {
          "value": "xl",
          "label": "t:sections.all.section-margin.options__6.label"
        }
      ],
      "default": "no-indent",
      "label": "t:sections.all.section-margin.margin_bottom.label"
    }
  ],
  "presets": [
    {
      "name": "t:sections.blog-posts.name",
      "category": "t:sections.categories.storytelling"
    }
  ]
}
{% endschema %}
