{{- 'section-footer.css' | asset_url | stylesheet_tag -}}


<div class="footer{% if section.settings.enable_border_top %} section-border-top{% endif %}">
  {%- if section.blocks.size > 0 or section.settings.show_newsletter or section.settings.show_contact -%}
    {% liquid
      assign is_lg_breakpoint = false
      if section.blocks.size == 4 and section.settings.show_newsletter == false
        assign is_lg_breakpoint = true
      endif

      if section.blocks.size == 3 and section.settings.show_newsletter == false
        assign is_lg_breakpoint = true
      endif

      if section.blocks.size == 2 and section.settings.show_newsletter and section.settings.show_contact
        assign is_lg_breakpoint = true
      endif

      assign is_md_breakpoint = false
      if section.blocks.size == 3 and section.settings.show_newsletter == false
        assign is_md_breakpoint = true
      endif

      if section.blocks.size == 2
        if section.settings.show_newsletter == false or section.settings.show_contact == false
          assign is_md_breakpoint = true
        endif
      endif

      if section.blocks.size == 1
        assign is_md_breakpoint = true
      endif
    %}
    <div class="footer-main container color-{{ section.settings.main_color_scheme }} background{% if is_lg_breakpoint %} footer-main--lg-breakpoint{% endif %}{% if is_md_breakpoint %} footer-main--md-breakpoint{% endif %}">
      <div class="footer-main-wrapper">

        {% comment %} ----- FOOTER MENUS ----- {% endcomment %}
        {%- for i in (1..3) -%}
            {%- assign menu_id = 'left_menu_' | append: i -%}
            {%- assign heading_id = 'left_menu_' | append: i | append: '_heading' -%}
            {%- if section.settings[menu_id] != blank -%}
              <div class="footer-block footer-menu-block">
                <details class="footer-menu-block-accordion">
                  <summary class="footer-menu-block-summary focus-inset">
                    <span class="header-label">{{- section.settings[heading_id] | escape -}}</span>
                    {% render 'icon-chevron' %}
                  </summary>
                  <ul class="footer-menu-block-list list-unstyled">
                    {%- for link in section.settings[menu_id].links -%}
                      <li class="footer-menu-block-list__item">
                        <a href="{{ link.url }}" class="footer-menu-block-list__link list-menu-item-animate focus-inset" aria-label="{{- link.title -}}">
                          <span class="header-label">{{- link.title -}}</span>
                        </a>
                        {%- if link.links != blank -%}
                          <span class="footer-menu-item-chevron">{% render 'icon-chevron' %}</span>
                        {%- endif -%}
                      </li>
                    {%- endfor -%}
                  </ul>
                </details>
              </div>
            {%- endif -%}
          {%- endfor -%}

          {%- if section.settings.left_social_menu != blank -%}
            <div class="footer-block footer-menu-block">
              <details class="footer-menu-block-accordion">
                <summary class="footer-menu-block-summary focus-inset">
                  <span class="header-label">{{- section.settings.left_social_menu_heading | default: 'Social' | escape -}}</span>
                  {% render 'icon-chevron' %}
                </summary>
                <ul class="footer-menu-block-list list-unstyled">
                  {%- for link in section.settings.left_social_menu.links -%}
                    <li class="footer-menu-block-list__item">
                      <a href="{{ link.url }}" class="footer-menu-block-list__link list-menu-item-animate focus-inset" aria-label="{{- link.title -}}">
                        <span class="header-label">{{- link.title -}}</span>
                      </a>
                      {%- if link.links != blank -%}
                        <span class="footer-menu-item-chevron">{% render 'icon-chevron' %}</span>
                      {%- endif -%}
                    </li>
                  {%- endfor -%}
                </ul>
              </details>
            </div>
          {%- endif -%}

        {% comment %} ----- FOOTER NEWSLETTER FORM ----- {% endcomment %}
        {%- if section.settings.show_newsletter -%}
          <div class="footer-block footer-subscribe-block">
            {% if section.settings.newsletter_heading != blank %}
              <h3 class="footer-block__heading subtitle">
                {{- section.settings.newsletter_heading -}}
              </h3>
            {% endif %}

            {% form 'customer', class: 'footer-subscribe-form' %}
              <div class="field field--newsletter">
                <input
                  type="hidden"
                  name="contact[tags]"
                  value="newsletter"
                >
                <div class="field--newsletter-wrapper">
                  <input
                    id="NewsletterForm--{{ section.id }}"
                    dir="ltr"
                    type="email"
                    name="contact[email]"
                    display:
                    block;
                    class="body-small"
                    value="{{ form.email }}"
                    aria-required="true"
                    autocorrect="off"
                    autocapitalize="off"
                    autocomplete="email"
                    pattern="[a-z0-9._%+\-]+@[a-z0-9.\-]+\.[a-z]{2,}$"
                    {% if form.errors %}
                      autofocus
                      aria-invalid="true"
                      aria-describedby="Newsletter-error--{{ section.id }}"
                    {% elsif form.posted_successfully? %}
                      aria-describedby="Newsletter-success--{{ section.id }}"
                    {% endif %}
                    placeholder="{{ 'newsletter.label' | t }}"
                    required
                  >
                  <label for="NewsletterForm--{{ section.id }}">
                    {{- 'newsletter.label' | t -}}
                  </label>
                  <button type="submit" class="button button--simple focus-inset">
                    <div class="button__content">
                      <span class="button__label" data-label="{{ 'newsletter.button_label' | t }}">
                        {{- 'newsletter.button_label' | t -}}
                      </span>
                    </div>
                  </button>
                </div>

                {%- if form.errors -%}
                  <small
                    class="form__message form__message--error body-small"
                    id="Newsletter-error--{{ section.id }}"
                  >
                    {%- render 'icon-error' -%}
                    {{- form.errors.translated_fields.email | capitalize }}
                    {{ form.errors.messages.email -}}
                  </small>
                {%- endif -%}
                {%- if form.posted_successfully? -%}
                  <small
                    class="form__message form__message--success"
                    id="Newsletter-success--{{ section.id }}"
                    tabindex="-1"
                    autofocus
                  >
                    {% render 'icon-success' -%}
                    {{- 'newsletter.success' | t }}
                  </small>
                {%- endif -%}
              </div>

              {% if section.settings.show_newsletter_text and section.settings.newsletter_text != blank %}
                <div class="footer-subscribe-form__text body-small richtext-link-inside-secondary">
                  {{- section.settings.newsletter_text -}}
                </div>
              {% endif %}

              {% if section.settings.privacy_policy_consent %}
                <div class="field field--checkbox">
                  <input
                    type="checkbox"
                    class="focus-inset"
                    name="footer_newsletter_checkbox"
                    id="footer_newsletter_checkbox"
                    aria-describedby="FooterNewsletter-checkbox-error"
                    required
                    oninvalid="this.classList.add('is-invalid')"
                    onchange="this.classList.remove('is-invalid')"
                  >
                  <label for="footer_newsletter_checkbox">
                    <span class="field__checkbox"></span>
                    <span class="field__label body-small">
                      {{ 'sections.footer.accept_terms' | t }}
                      <a href="{{ shop.privacy_policy.url }}" target="_blank" class="focus-inset">
                        {{- shop.privacy_policy.title -}}
                      </a>
                    </span>
                  </label>
                  <span id="FooterNewsletter-checkbox-error" class="form__message form__message--error">
                    {{- 'sections.footer.checkbox_error' | t -}}
                  </span>
                </div>
              {% endif %}
            {% endform %}
          </div>
        {%- endif -%}

        {% comment %} ----- FOOTER MENU BLOCKS ----- {% endcomment %}
        {%- if section.blocks.size > 0 -%}
          {%- for block in section.blocks -%}
            {%- case block.type -%}
              {%- when 'link_list' -%}
                {%- if block.settings.heading != blank and block.settings.menu != blank -%}
                  <div
                    class="footer-block footer-menu-block"
                    {{ block.shopify_attributes }}
                  >
                    <details
                      class="footer-menu-block-accordion"
                      {% if block.settings.default_open %}
                        open
                      {% endif %}
                    >
                      <summary class="footer-menu-block-summary focus-inset">
                        <span class="header-label">{{- block.settings.heading | escape -}}</span>
                        {% render 'icon-chevron' %}
                      </summary>

                      <ul class="footer-menu-block-list list-unstyled">
                        {%- for link in block.settings.menu.links -%}
                          <li class="footer-menu-block-list__item">
                            <a
                              href="{{ link.url }}"
                              {% if settings.links_blank and link.type == 'http_link' %}
                                target="_blank"
                              {% endif %}
                              class="footer-menu-block-list__link list-menu-item-animate focus-inset"
                              aria-label="{{- link.title -}}"
                            >
                              <span class="header-label">{{- link.title -}}</span>
                            </a>
                            {%- if link.links != blank -%}
                              <span class="footer-menu-item-chevron">{% render 'icon-chevron' %}</span>
                            {%- endif -%}
                          </li>
                        {%- endfor -%}
                      </ul>
                    </details>
                  </div>
                {%- endif -%}
            {%- endcase -%}
          {%- endfor -%}
        {%- endif -%}

        {% comment %} ----- FOOTER CONTACT INFORMATION ----- {% endcomment %}
        {%- if section.settings.show_contact -%}
          <div class="footer-block footer-contact-block{% if section.settings.show_newsletter == false %} left-on-desktop{% endif %}">
            {%- if section.settings.contact_heading != blank %}
              <h3 class="footer-block__heading subtitle">
                {{- section.settings.contact_heading -}}
              </h3>
            {%- endif -%}

            {%- if section.settings.show_logo -%}
              <a
                href="{{ routes.root_url }}"
                class="footer-logo focus-inset{% if section.settings.logo_dm != blank %} has-dm-logo{% endif %}"
                aria-label="{{ section.settings.logo.alt | default: shop.name | escape }}"
              >
                {%- if section.settings.logo != blank -%}
                  {%- liquid
                    assign logo_img_loading = 'lazy'

                    if section.index == 1
                      assign logo_img_loading = 'eager'
                    endif

                    assign logo_height = section.settings.logo_width | divided_by: section.settings.logo.aspect_ratio
                    assign logo_alt = section.settings.logo.alt | default: shop.name | escape
                    assign image_size_2x = section.settings.logo_width | times: 2
                  -%}
                  {%- capture srcset -%}
                    {{ section.settings.logo | image_url: width: section.settings.logo_width }}, {{ section.settings.logo | image_url: width: image_size_2x }} 2x
                  {%- endcapture -%}
                  {{
                    section.settings.logo
                    | image_url: width: section.settings.logo_width
                    | image_tag:
                      class: 'footer-logo__image footer-logo__image--light-mode',
                      srcset: srcset,
                      height: logo_height,
                      width: section.settings.logo_width,
                      alt: logo_alt,
                      loading: logo_img_loading
                  }}
                  {%- if section.settings.logo_dm != blank -%}
                    {%- capture srcset -%}
                    {{ section.settings.logo_dm | image_url: width: section.settings.logo_width }}, {{ section.settings.logo_dm | image_url: width: image_size_2x }} 2x
                  {%- endcapture -%}
                    {{
                      section.settings.logo_dm
                      | image_url: width: section.settings.logo_width
                      | image_tag:
                        class: 'footer-logo__image footer-logo__image--dark-mode',
                        srcset: srcset,
                        height: logo_height,
                        width: section.settings.logo_width,
                        alt: logo_alt,
                        loading: logo_img_loading
                    }}
                  {%- endif -%}
                {%- else -%}
                  <span class="subtitle">
                    {{- shop.name -}}
                  </span>
                {%- endif -%}
              </a>
            {%- endif -%}

            {%- if section.settings.show_contact_text -%}
              {%- if section.settings.contact_text != blank -%}
                <div class="footer-contact-block__description body-small">
                  {{- section.settings.contact_text | newline_to_br -}}
                </div>
              {%- endif -%}
              {%- if section.settings.contact_richtext != blank -%}
                <div class="footer-contact-block__description body-small richtext-link-inside">
                  {{- section.settings.contact_richtext -}}
                </div>
              {%- endif -%}
            {%- endif -%}

            {%- if section.settings.show_socials -%}
              {% render 'social-list-icons', class: 'footer-socials' %}
            {%- endif -%}
          </div>
        {%- endif -%}

      </div>
    </div>
  {%- endif -%}

  {% comment %} ----- FOOTER BOTTOM ----- {% endcomment %}
  {% liquid
    assign has_localization_selector = false
    if section.settings.enable_country_selector and localization.available_countries.size > 1
      assign has_localization_selector = true
    endif
    if section.settings.enable_language_selector and localization.available_languages.size > 1
      assign has_localization_selector = true
    endif

    assign has_follow_on_shop = false
    if shop.features.follow_on_shop? and section.settings.enable_follow_on_shop
      assign has_follow_on_shop = true
    endif
  %}

  {%- if has_localization_selector
    or section.settings.payment_enable
    or section.settings.enable_copyright
    or section.settings.show_policy
    or has_follow_on_shop
  -%}
    <div class="footer-bottom container color-{{ section.settings.bottom_color_scheme }} background">
      <div class="footer-bottom-wrapper">
        {%- if section.settings.enable_copyright or section.settings.show_policy -%}
          <div class="footer-bottom-wrapper__main">
            {% comment %} ----- COPYRIGHT ----- {% endcomment %}
            {%- if section.settings.enable_copyright -%}
              <div class="footer-copyright">
                <span class="footer-copyright__content body-small richtext-link-inside-secondary">
                  &copy;
                  {% if section.settings.enable_copyright_date %}
                    {{ 'now' | date: '%Y' }}
                  {% endif %}
                  {{ shop.name | link_to: routes.root_url }}.
                </span>
                <span class="footer-copyright__content body-small richtext-link-inside-secondary">
                  {{- powered_by_link -}}
                </span>
              </div>
            {%- endif -%}

            {% comment %} ----- POLICIES ----- {% endcomment %}
            {%- if section.settings.show_policy -%}
              <ul class="footer-policies list-unstyled">
                {%- for policy in shop.policies -%}
                  {%- if policy != blank -%}
                    <li class="footer-policies__item">
                      <a
                        href="{{ policy.url }}"
                        class="footer-policies__link hover-underlined-link-secondary focus-inset body-small"
                      >
                        {{- policy.title -}}
                      </a>
                    </li>
                  {%- endif -%}
                {%- endfor -%}
              </ul>
            {%- endif -%}
          </div>
        {%- endif -%}

        {%- if has_localization_selector or section.settings.payment_enable or has_follow_on_shop -%}
          <div class="footer-bottom-wrapper__main">
            {% comment %} ----- LOCALIZATION (LANGUAGE AND COUNTRY) ----- {% endcomment %}
            {% render 'modal-region-selector',
              section_obj: section,
              class: 'footer-modal',
              modal_location: 'footer',
              button_type: 'text'
            %}

            {% comment %} ----- PAYMENT METHODS ----- {% endcomment %}
            {%- if section.settings.payment_enable -%}
              <ul class="list-payment list-unstyled" role="list">
                {%- for type in shop.enabled_payment_types -%}
                  <li class="list-payment__item">
                    {{ type | payment_type_svg_tag: class: 'icon' }}
                  </li>
                {%- endfor -%}
              </ul>
            {%- endif -%}

            {% comment %} ----- FOLLOW ON SHOP ----- {% endcomment %}
            {%- if has_follow_on_shop -%}
              <div class="footer-follow-on-shop">
                {{ shop | login_button: action: 'follow' }}
              </div>
            {%- endif -%}
          </div>
        {%- endif -%}
      </div>
    </div>
  {%- endif -%}
</div>

{% schema %}
{
  "name": "t:sections.footer.name",
  "class": "shopify-section-footer",
  "tag": "footer",
  "settings": [
    {
      "type": "color_scheme",
      "id": "main_color_scheme",
      "default": "background-2",
      "label": "t:sections.all.color_scheme.label"
    },
    {
      "type": "checkbox",
      "id": "enable_border_top",
      "default": false,
      "label": "t:sections.all.borders.enable_border_top.label"
    },
    {
      "type": "header",
      "content": "Left column menus"
    },
    {
      "type": "text",
      "id": "left_menu_1_heading",
      "label": "Menu 1 heading",
      "default": "Menu"
    },
    {
      "type": "link_list",
      "id": "left_menu_1",
      "label": "Menu 1"
    },
    {
      "type": "text",
      "id": "left_menu_2_heading",
      "label": "Menu 2 heading",
      "default": "Menu",
      "visible_if": "{{ section.settings.left_menu_1 != blank }}"
    },
    {
      "type": "link_list",
      "id": "left_menu_2",
      "label": "Menu 2",
      "visible_if": "{{ section.settings.left_menu_1 != blank }}"
    },
    {
      "type": "text",
      "id": "left_menu_3_heading",
      "label": "Menu 3 heading",
      "default": "Menu",
      "visible_if": "{{ section.settings.left_menu_2 != blank }}"
    },
    {
      "type": "link_list",
      "id": "left_menu_3",
      "label": "Menu 3",
      "visible_if": "{{ section.settings.left_menu_2 != blank }}"
    },
    {
      "type": "header",
      "content": "Social menu"
    },
    {
      "type": "text",
      "id": "left_social_menu_heading",
      "label": "Social menu heading",
      "default": "Social"
    },
    {
      "type": "link_list",
      "id": "left_social_menu",
      "label": "Social menu"
    },
    {
      "type": "header",
      "content": "t:sections.footer.settings.header__contact.content"
    },
    {
      "type": "checkbox",
      "id": "show_contact",
      "default": true,
      "label": "t:sections.footer.settings.show_contact.label"
    },
    {
      "type": "text",
      "id": "contact_heading",
      "label": "t:sections.all.heading.label",
      "default": "t:sections.footer.settings.contact_heading.default",
      "visible_if": "{{ section.settings.show_contact }}"
    },
    {
      "type": "checkbox",
      "id": "show_logo",
      "default": false,
      "label": "t:sections.footer.settings.show_logo.label",
      "visible_if": "{{ section.settings.show_contact }}"
    },
    {
      "type": "image_picker",
      "id": "logo",
      "label": "t:sections.footer.settings.logo.label",
      "visible_if": "{{ section.settings.show_contact and section.settings.show_logo }}"
    },
    {
      "type": "image_picker",
      "id": "logo_dm",
      "label": "t:sections.footer.settings.logo_dm.label",
      "visible_if": "{{ section.settings.show_contact and section.settings.show_logo }}"
    },
    {
      "type": "range",
      "id": "logo_width",
      "min": 40,
      "max": 240,
      "step": 4,
      "default": 100,
      "unit": "px",
      "label": "t:sections.footer.settings.logo_width.label",
      "visible_if": "{{ section.settings.show_contact and section.settings.show_logo }}"
    },
    {
      "type": "checkbox",
      "id": "show_contact_text",
      "default": true,
      "label": "t:sections.footer.settings.show_contact_text.label",
      "visible_if": "{{ section.settings.show_contact }}"
    },
    {
      "type": "textarea",
      "id": "contact_text",
      "label": "t:sections.footer.settings.contact_text.label",
      "default": "t:sections.footer.settings.contact_text.default",
      "visible_if": "{{ section.settings.show_contact and section.settings.show_contact_text }}"
    },
    {
      "type": "inline_richtext",
      "id": "contact_richtext",
      "label": "t:sections.footer.settings.contact_richtext.label",
      "default": "t:sections.footer.settings.contact_richtext.default",
      "visible_if": "{{ section.settings.show_contact and section.settings.show_contact_text }}"
    },
    {
      "type": "checkbox",
      "id": "show_socials",
      "default": false,
      "label": "t:sections.footer.settings.show_socials.label",
      "info": "t:sections.footer.settings.show_socials.info",
      "visible_if": "{{ section.settings.show_contact }}"
    },
    {
      "type": "header",
      "content": "t:sections.footer.settings.header__newsletter.content"
    },
    {
      "type": "checkbox",
      "id": "show_newsletter",
      "default": true,
      "label": "t:sections.footer.settings.show_newsletter.label"
    },
    {
      "type": "text",
      "id": "newsletter_heading",
      "label": "t:sections.all.heading.label",
      "default": "t:sections.footer.settings.newsletter_heading.default",
      "visible_if": "{{ section.settings.show_newsletter }}"
    },
    {
      "type": "checkbox",
      "id": "show_newsletter_text",
      "default": true,
      "label": "t:sections.footer.settings.show_newsletter_text.label",
      "visible_if": "{{ section.settings.show_newsletter }}"
    },
    {
      "type": "inline_richtext",
      "id": "newsletter_text",
      "label": "t:sections.footer.settings.newsletter_text.label",
      "default": "t:sections.footer.settings.newsletter_text.default",
      "visible_if": "{{ section.settings.show_newsletter and section.settings.show_newsletter_text }}"
    },
    {
      "type": "checkbox",
      "id": "privacy_policy_consent",
      "default": false,
      "label": "t:sections.footer.settings.privacy_policy_consent.label",
      "visible_if": "{{ section.settings.show_newsletter }}"
    },
    {
      "type": "header",
      "content": "t:sections.footer.settings.header__bottom.content"
    },
    {
      "type": "color_scheme",
      "id": "bottom_color_scheme",
      "default": "background-3",
      "label": "t:sections.all.color_scheme.label"
    },
    {
      "type": "checkbox",
      "id": "enable_country_selector",
      "default": true,
      "label": "t:sections.footer.settings.enable_country_selector.label",
      "info": "t:sections.footer.settings.enable_country_selector.info"
    },
    {
      "type": "checkbox",
      "id": "enable_language_selector",
      "default": true,
      "label": "t:sections.footer.settings.enable_language_selector.label",
      "info": "t:sections.footer.settings.enable_language_selector.info"
    },
    {
      "type": "color_scheme",
      "id": "region_color_scheme",
      "default": "background-1",
      "label": "t:sections.footer.settings.region_color_scheme.label",
      "visible_if": "{{ section.settings.enable_country_selector == true or section.settings.enable_language_selector == true }}"
    },
    {
      "type": "checkbox",
      "id": "payment_enable",
      "default": true,
      "label": "t:sections.footer.settings.payment_enable.label",
      "info": "t:sections.footer.settings.payment_enable.info"
    },
    {
      "type": "checkbox",
      "id": "enable_copyright",
      "default": true,
      "label": "t:sections.footer.settings.enable_copyright.label"
    },
    {
      "type": "checkbox",
      "id": "enable_copyright_date",
      "default": false,
      "label": "t:sections.footer.settings.enable_copyright_date.label"
    },
    {
      "type": "checkbox",
      "id": "show_policy",
      "default": false,
      "label": "t:sections.footer.settings.show_policy.label"
    },
    {
      "type": "checkbox",
      "id": "enable_follow_on_shop",
      "default": true,
      "label": "t:sections.footer.settings.enable_follow_on_shop.label"
    }
  ],
  "blocks": [
    {
      "type": "link_list",
      "name": "t:sections.footer.blocks.link_list.name",
      "limit": 4,
      "settings": [
        {
          "type": "text",
          "id": "heading",
          "label": "t:sections.footer.blocks.link_list.settings.heading.label",
          "default": "t:sections.footer.blocks.link_list.settings.heading.default",
          "info": "t:sections.footer.blocks.link_list.settings.heading.info"
        },
        {
          "type": "link_list",
          "id": "menu",
          "default": "footer",
          "label": "t:sections.footer.blocks.link_list.settings.menu.label",
          "info": "t:sections.footer.blocks.link_list.settings.menu.info"
        },
        {
          "type": "checkbox",
          "id": "default_open",
          "default": false,
          "label": "t:sections.footer.blocks.link_list.settings.default_open.label"
        }
      ]
    }
  ],
  "default": {
    "blocks": [
      {
        "type": "link_list",
        "settings": {
          "default_open": true
        }
      },
      {
        "type": "link_list",
        "settings": {}
      },
      {
        "type": "link_list",
        "settings": {}
      },
      {
        "type": "link_list",
        "settings": {}
      }
    ]
  }
}
{% endschema %}
