{{ 'section-hero.css' | asset_url | stylesheet_tag }}
{%- if section.blocks.size > 1 -%}
  <script src="{{ 'hero.js' | asset_url }}" defer="defer"></script>
{%- endif -%}

{% liquid
  # additional variables for adapt mode
  if section.settings.image_ratio_desktop == 'adapt' or section.settings.image_ratio_mobile == 'adapt'
    assign highest_media_desktop = blank
    assign highest_media_desktop_ratio = 0
    assign highest_media_mobile = blank
    assign highest_media_mobile_ratio = 0
    assign has_at_least_one_placeholder = false

    for block in section.blocks
      if block.settings.show_video == true and block.settings.video != blank
        if highest_media_desktop_ratio == 0
          assign highest_media_desktop_ratio = block.settings.video.aspect_ratio
          assign highest_media_desktop = block.settings.video
        endif

        if block.settings.video.aspect_ratio < highest_media_desktop_ratio
          assign highest_media_desktop_ratio = block.settings.video.aspect_ratio
          assign highest_media_desktop = block.settings.video
        endif

        if block.settings.video.aspect_ratio > highest_media_mobile_ratio
          assign highest_media_mobile_ratio = block.settings.video.aspect_ratio
          assign highest_media_mobile = block.settings.video
        endif
      elsif block.settings.enable_image
        if block.settings.image_desktop != blank or block.settings.image_mobile != blank
          if block.settings.image_desktop != blank
            if highest_media_desktop_ratio == 0
              assign highest_media_desktop_ratio = block.settings.image_desktop.aspect_ratio
              assign highest_media_desktop = block.settings.image_desktop
            endif

            if block.settings.image_desktop.aspect_ratio < highest_media_desktop_ratio
              assign highest_media_desktop_ratio = block.settings.image_desktop.aspect_ratio
              assign highest_media_desktop = block.settings.image_desktop
            endif
          else
            if highest_media_desktop_ratio == 0
              assign highest_media_desktop_ratio = block.settings.image_mobile.aspect_ratio
              assign highest_media_desktop = block.settings.image_mobile
            endif

            if block.settings.image_mobile.aspect_ratio < highest_media_desktop_ratio
              assign highest_media_desktop_ratio = block.settings.image_mobile.aspect_ratio
              assign highest_media_desktop = block.settings.image_mobile
            endif
          endif

          if block.settings.image_mobile != blank
            if highest_media_mobile_ratio == 0
              assign highest_media_mobile_ratio = block.settings.image_mobile.aspect_ratio
              assign highest_media_mobile = block.settings.image_mobile
            endif

            if block.settings.image_mobile.aspect_ratio < highest_media_mobile_ratio
              assign highest_media_mobile_ratio = block.settings.image_mobile.aspect_ratio
              assign highest_media_mobile = block.settings.image_mobile
            endif
          else
            if highest_media_mobile_ratio == 0
              assign highest_media_mobile_ratio = block.settings.image_desktop.aspect_ratio
              assign highest_media_mobile = block.settings.image_desktop
            endif

            if block.settings.image_desktop.aspect_ratio < highest_media_mobile_ratio
              assign highest_media_desktop_ratio = block.settings.image_desktop.aspect_ratio
              assign highest_media_mobile = block.settings.image_desktop
            endif
          endif
        else
          assign has_at_least_one_placeholder = true
        endif
      endif
    endfor
  endif

  if section.settings.image_ratio_mobile != 'adapt' and section.settings.image_ratio_mobile != 'full_height'
    assign aspect_ratio_mobile = section.settings.image_ratio_mobile | split: '/'
    assign temp_mobile = aspect_ratio_mobile[0] | append: '.0'
    assign padding_bottom_mobile = aspect_ratio_mobile[1] | divided_by: temp_mobile | times: 100 | round: 2
  elsif section.settings.image_ratio_mobile == 'adapt'
    if highest_media_mobile != blank
      assign padding_bottom_mobile = 1 | divided_by: highest_media_mobile.aspect_ratio | times: 100 | round: 2
    elsif has_at_least_one_placeholder
      assign padding_bottom_mobile = 75
    else
      assign padding_bottom_mobile = 0
    endif
  else
    assign padding_bottom_mobile = 0
  endif

  if section.settings.image_ratio_desktop != 'adapt' and section.settings.image_ratio_desktop != 'full_height'
    assign aspect_ratio_desktop = section.settings.image_ratio_desktop | split: '/'
    assign temp_desktop = aspect_ratio_desktop[0] | append: '.0'
    assign padding_bottom_desktop = aspect_ratio_desktop[1] | divided_by: temp_desktop | times: 100 | round: 2
  elsif section.settings.image_ratio_desktop == 'adapt'
    if highest_media_desktop != blank
      assign padding_bottom_desktop = 1 | divided_by: highest_media_desktop.aspect_ratio | times: 100 | round: 2
    elsif has_at_least_one_placeholder
      assign padding_bottom_desktop = 56
    else
      assign padding_bottom_desktop = 0
    endif
  else
    assign padding_bottom_desktop = 0
  endif

  assign min_duration = 5000
  assign max_duration = 25000
  assign settings_speed = section.settings.slider_speed
  assign speed_range = 10
  assign duration_range = max_duration | minus: min_duration
  assign slider_speed_temp = settings_speed | times: duration_range | divided_by: speed_range
  assign slider_speed = max_duration | minus: slider_speed_temp
%}

{% style %}
  {% render 'section-margin' %}

  #hero-{{ section.id }} .hero__wrapper::before {
    content: '';
    display: block;
    width: 0;
    padding-bottom: {{ padding_bottom_mobile }}%;
  }

  @media screen and (min-width: 576px) {
    #hero-{{ section.id }} .hero__wrapper::before {
      content: '';
      display: block;
      width: 0;
      padding-bottom: {{ padding_bottom_desktop }}%;
    }
  }

  {%- if section.settings.image_ratio_mobile == 'full_height' -%}
    @media screen and (max-width: 575.99px) {
      #hero-{{ section.id }} .hero__wrapper {
        min-height: 100vh;
        min-height: 100svh;
      }

      main > .hero-section:first-child > #hero-{{ section.id }} .hero__wrapper {
        min-height: calc(100vh - var(--announcement-height) - var(--header-height));
        min-height: calc(100svh - var(--announcement-height) - var(--header-height));
      }
    }
  {%- endif -%}

  {%- if section.settings.image_ratio_desktop == 'full_height' -%}
    @media screen and (min-width: 576px) {
      #hero-{{ section.id }} .hero__wrapper {
        min-height: 100vh;
        min-height: 100svh;
      }

      main > .hero-section:first-child > #hero-{{ section.id }} .hero__wrapper {
        min-height: calc(100vh - var(--announcement-height) - var(--header-height));
        min-height: calc(100svh - var(--announcement-height) - var(--header-height));
      }
    }
  {%- endif -%}
{% endstyle %}

<div
  class="hero color-{{ section.settings.color_scheme }} background"
  id="hero-{{ section.id }}"
  data-header-interaction="true"
  data-color-scheme="{{ section.settings.color_scheme }}"
>
  <div
    class="hero__wrapper hero__wrapper--ver-{{ section.settings.vertical_alignment }} hero__wrapper--hor-{{ section.settings.horizontal_alignment }}{% if section.settings.image_ratio_desktop == "full_height" %} hero__wrapper--full-desktop{% endif %}{% if section.settings.image_ratio_mobile == "full_height" %} hero__wrapper--full-mobile{% endif %}"
  >
    <div class="container hero__content{% if section.settings.vertical_alignment == 'stretch' %} hero__content--stretch{% endif %}">
      {%- if section.settings.vertical_alignment == 'stretch' and section.settings.subheading != blank -%}
        <div class="hero__subheading hero__subheading--stretch subtitle">
          {{- section.settings.subheading -}}
        </div>
      {%- elsif section.settings.vertical_alignment == 'stretch' -%}
        <div class="hero__content-placeholder-el"></div>
      {%- endif -%}

      {%- if section.settings.subheading != blank or section.settings.heading != blank -%}
        <div class="hero__headings">
          {%- if section.settings.vertical_alignment != 'stretch' and section.settings.subheading != blank -%}
            <div class="hero__subheading subtitle">
              {{- section.settings.subheading -}}
            </div>
          {%- endif -%}

          {%- if section.settings.heading != blank -%}
            <{{ section.settings.heading_tag | default: "h2" }}
              class="hero__heading hero__heading--width-{{ section.settings.heading_width }} {{ section.settings.heading_size }} richtext-link-inside"
            >
              {{- section.settings.heading -}}
            </{{ section.settings.heading_tag | default: "h2" }}>
          {%- elsif section.settings.vertical_alignment == 'stretch' -%}
            <div class="hero__content-placeholder-el"></div>
          {%- endif -%}
        </div>
      {%- endif -%}

      {%- if section.settings.description != blank or section.settings.show_button -%}
        <div class="hero__information">
          {%- if section.settings.description != blank -%}
            <div class="hero__description richtext-link-inside">
              {{- section.settings.description -}}
            </div>
          {%- endif -%}

          {%- if section.settings.show_button -%}
            {% render 'button',
              btn_label: section.settings.button_label,
              btn_style: section.settings.button_style,
              btn_link: section.settings.button_link,
              class: 'hero__button'
            %}
          {%- endif -%}
        </div>
      {%- elsif section.settings.vertical_alignment == 'stretch' -%}
        <div class="hero__content-placeholder-el"></div>
      {%- endif -%}
    </div>

    {%- if section.blocks != blank -%}
      <div
        class="hero__media{% if section.blocks.size > 1 %} hero__media--slider swiper{% endif %}"
        data-slider-speed="{{ slider_speed }}"
        data-slider-direction="{{ section.settings.slider_direction }}"
      >
        <div class="hero__media-wrapper{% if section.blocks.size > 1 %} swiper-wrapper{% endif %}">
          {%- for block in section.blocks -%}
            {% liquid
              assign image_desktop = blank
              assign image_mobile = blank

              assign has_video = false
              assign has_image = false
              assign has_placeholder = false

              if block.settings.show_video == true and block.settings.video != blank
                assign has_video = true
              elsif block.settings.enable_image
                if block.settings.image_desktop != blank or block.settings.image_mobile != blank
                  assign has_image = true

                  if block.settings.image_desktop != blank
                    assign image_desktop = block.settings.image_desktop
                  else
                    assign image_desktop = block.settings.image_mobile
                  endif

                  if block.settings.image_mobile != blank
                    assign image_mobile = block.settings.image_mobile
                  else
                    assign image_mobile = block.settings.image_desktop
                  endif
                else
                  assign has_placeholder = true
                endif
              endif
            %}

            <div class="hero__media-slide{% if section.blocks.size > 1 %} swiper-slide{% endif %}">
              {%- if has_video -%}
                {{
                  block.settings.video
                  | video_tag:
                    image_size: '1920x',
                    autoplay: true,
                    loop: true,
                    muted: true,
                    controls: false,
                    class: 'hero__video'
                }}
              {%- elsif has_image -%}
                {% liquid
                  # get mobile calc ratio
                  if section.settings.image_ratio_mobile != 'adapt' and section.settings.image_ratio_mobile != 'full_height'
                    assign aspect_ratio_mobile = section.settings.image_ratio_mobile | split: '/'
                    assign temp_mobile = aspect_ratio_mobile[0] | append: '.0'
                    assign settings_mobile_aspect_ratio = temp_mobile | divided_by: aspect_ratio_mobile[1] | round: 2
                  elsif section.settings.image_ratio_mobile == 'full_height'
                    assign settings_mobile_aspect_ratio = 0.45
                  else
                    assign settings_mobile_aspect_ratio = image_mobile.aspect_ratio
                  endif

                  assign calc_ratio_mobile = 1
                  if image_mobile.aspect_ratio > settings_mobile_aspect_ratio
                    assign calc_ratio_mobile = image_mobile.aspect_ratio | divided_by: settings_mobile_aspect_ratio | round: 2
                  endif

                  # get desktop calc ratio
                  if section.settings.image_ratio_desktop != 'adapt' and section.settings.image_ratio_desktop != 'full_height'
                    assign aspect_ratio_desktop = section.settings.image_ratio_desktop | split: '/'
                    assign temp_desktop = aspect_ratio_desktop[0] | append: '.0'
                    assign settings_desktop_aspect_ratio = temp_desktop | divided_by: aspect_ratio_desktop[1] | round: 2
                    assign settings_tablet_aspect_ratio = temp_desktop | divided_by: aspect_ratio_desktop[1] | round: 2
                  elsif section.settings.image_ratio_desktop == 'full_height'
                    assign settings_tablet_aspect_ratio = 0.6
                    assign settings_desktop_aspect_ratio = 1.2
                  else
                    assign settings_tablet_aspect_ratio = image_desktop.aspect_ratio
                    assign settings_desktop_aspect_ratio = image_desktop.aspect_ratio
                  endif

                  assign calc_ratio_tablet = 1
                  if image_desktop.aspect_ratio > settings_tablet_aspect_ratio
                    assign calc_ratio_tablet = image_desktop.aspect_ratio | divided_by: settings_tablet_aspect_ratio | round: 2
                  endif

                  assign calc_ratio_desktop = 1
                  if image_desktop.aspect_ratio > settings_desktop_aspect_ratio
                    assign calc_ratio_desktop = image_desktop.aspect_ratio | divided_by: settings_desktop_aspect_ratio | round: 2
                  endif

                  assign fetch_priority = 'auto'
                  assign image_loading = 'lazy'
                  if section.index == 1
                    assign fetch_priority = 'high'
                    assign image_loading = 'eager'
                  endif

                  assign widths = '360, 533, 720, 940, 1066, 1200, 1400, 1600, 1800, 2000, 2200, 2400, 2600, 2800, 3000, 3264, 3400, 3584, 3800, 4000, 4200, 4400, 4600, 4800, 5000, 5200, 5400, 5600, 6000'
                %}

                {%- capture sizes -%}
                  (min-width: 990px) calc({{ calc_ratio_desktop }} * 100vw), (min-width: 576px) calc({{ calc_ratio_tablet }} * 100vw), calc({{ calc_ratio_mobile }} * 100vw)
                {%- endcapture -%}

                {%- if block.settings.image_desktop != blank -%}
                  {%- capture class_desktop -%}
                    {%- if block.settings.image_mobile != blank -%}
                      hero__image hero__image--desktop
                    {%- else -%}
                      hero__image
                    {%- endif -%}
                  {%- endcapture -%}

                  {{
                    block.settings.image_desktop
                    | image_url: width: block.settings.image_desktop.width
                    | image_tag:
                      loading: image_loading,
                      class: class_desktop,
                      widths: widths,
                      sizes: sizes,
                      fetchpriority: fetch_priority
                  }}
                {%- endif -%}

                {%- if block.settings.image_mobile != blank -%}
                  {%- capture class_mobile -%}
                    {%- if block.settings.image_desktop != blank -%}
                      hero__image hero__image--mobile
                    {%- else -%}
                      hero__image
                    {%- endif -%}
                  {%- endcapture -%}

                  {{
                    block.settings.image_mobile
                    | image_url: width: block.settings.image_mobile.width
                    | image_tag:
                      loading: image_loading,
                      class: class_mobile,
                      widths: widths,
                      sizes: sizes,
                      fetchpriority: fetch_priority
                  }}
                {%- endif -%}
              {%- elsif has_placeholder -%}
                {% assign placeholder_index = forloop.index0 | modulo: 3 | plus: 1 %}
                {{ 'hero-apparel-' | append: placeholder_index | placeholder_svg_tag: 'hero__image placeholder-svg' }}
              {%- endif -%}

              {%- if block.settings.overlay_opacity != 0 -%}
                {%- capture overlay_style -%}
                  opacity: {{ block.settings.overlay_opacity | divided_by: 100.0 }}; background: rgba(var(--color-overlay));
                {%- endcapture -%}
                <span class="hero__overlay" style="{{ overlay_style }}"></span>
              {%- endif -%}
            </div>
          {%- endfor -%}
        </div>
      </div>
    {%- endif -%}
  </div>
</div>

{% schema %}
{
  "name": "t:sections.hero.name",
  "tag": "section",
  "class": "hero-section has-header-interaction",
  "enabled_on": {
    "templates": ["*"]
  },
  "settings": [
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "default": "background-3",
      "label": "t:sections.all.color_scheme.label"
    },
    {
      "type": "select",
      "id": "image_ratio_desktop",
      "options": [
        {
          "value": "1/1",
          "label": "1:1"
        },
        {
          "value": "2/1",
          "label": "2:1"
        },
        {
          "value": "3/2",
          "label": "3:2"
        },
        {
          "value": "4/3",
          "label": "4:3"
        },
        {
          "value": "16/9",
          "label": "16:9"
        },
        {
          "value": "21/9",
          "label": "21:9"
        },
        {
          "value": "adapt",
          "label": "t:sections.all.aspect_ratio.adapt_to_media.label"
        },
        {
          "value": "full_height",
          "label": "t:sections.all.aspect_ratio.full_height.label"
        }
      ],
      "default": "full_height",
      "label": "t:sections.all.aspect_ratio.desktop.label",
      "info": "t:sections.all.aspect_ratio.adapt_to_media.info"
    },
    {
      "type": "select",
      "id": "image_ratio_mobile",
      "options": [
        {
          "value": "1/1",
          "label": "1:1"
        },
        {
          "value": "2/1",
          "label": "2:1"
        },
        {
          "value": "3/2",
          "label": "3:2"
        },
        {
          "value": "4/3",
          "label": "4:3"
        },
        {
          "value": "16/9",
          "label": "16:9"
        },
        {
          "value": "21/9",
          "label": "21:9"
        },
        {
          "value": "4/5",
          "label": "4:5"
        },
        {
          "value": "3/4",
          "label": "3:4"
        },
        {
          "value": "adapt",
          "label": "t:sections.all.aspect_ratio.adapt_to_media.label"
        },
        {
          "value": "full_height",
          "label": "t:sections.all.aspect_ratio.full_height.label"
        }
      ],
      "default": "3/4",
      "label": "t:sections.all.aspect_ratio.mobile.label",
      "info": "t:sections.all.aspect_ratio.adapt_to_media.info"
    },
    {
      "type": "range",
      "id": "slider_speed",
      "min": 1,
      "max": 10,
      "step": 1,
      "default": 5,
      "label": "t:sections.hero.settings.slider_speed.label"
    },
    {
      "type": "select",
      "id": "slider_direction",
      "options": [
        {
          "value": "left_to_right",
          "label": "t:sections.hero.settings.slider_direction.options__1.label"
        },
        {
          "value": "right_to_left",
          "label": "t:sections.hero.settings.slider_direction.options__2.label"
        }
      ],
      "default": "right_to_left",
      "label": "t:sections.hero.settings.slider_direction.label"
    },
    {
      "type": "header",
      "content": "t:sections.hero.settings.header__content.content"
    },
    {
      "type": "text",
      "id": "subheading",
      "label": "t:sections.all.subheading.label"
    },
    {
      "type": "inline_richtext",
      "id": "heading",
      "label": "t:sections.all.heading.label",
      "default": "t:sections.hero.settings.heading.default"
    },
    {
      "type": "select",
      "id": "heading_size",
      "options": [
        {
          "value": "h5",
          "label": "t:sections.all.heading_size.options__5.label"
        },
        {
          "value": "h4",
          "label": "t:sections.all.heading_size.options__4.label"
        },
        {
          "value": "h3",
          "label": "t:sections.all.heading_size.options__3.label"
        },
        {
          "value": "h2",
          "label": "t:sections.all.heading_size.options__2.label"
        },
        {
          "value": "h1",
          "label": "t:sections.all.heading_size.options__1.label"
        }
      ],
      "default": "h2",
      "label": "t:sections.all.heading_size.label",
      "visible_if": "{{ section.settings.heading != blank }}"
    },
    {
      "type": "select",
      "id": "heading_tag",
      "options": [
        {
          "value": "h1",
          "label": "t:sections.all.heading_tag.options__1.label"
        },
        {
          "value": "h2",
          "label": "t:sections.all.heading_tag.options__2.label"
        },
        {
          "value": "h3",
          "label": "t:sections.all.heading_tag.options__3.label"
        },
        {
          "value": "h4",
          "label": "t:sections.all.heading_tag.options__4.label"
        },
        {
          "value": "h5",
          "label": "t:sections.all.heading_tag.options__5.label"
        },
        {
          "value": "h6",
          "label": "t:sections.all.heading_tag.options__6.label"
        },
        {
          "value": "div",
          "label": "t:sections.all.heading_tag.options__7.label"
        }
      ],
      "default": "h2",
      "label": "t:sections.all.heading_tag.label",
      "info": "t:sections.all.heading_tag.info",
      "visible_if": "{{ section.settings.heading != blank }}"
    },
    {
      "type": "select",
      "id": "heading_width",
      "options": [
        {
          "value": "small",
          "label": "t:sections.all.heading_width.options__3.label"
        },
        {
          "value": "medium",
          "label": "t:sections.all.heading_width.options__2.label"
        },
        {
          "value": "large",
          "label": "t:sections.all.heading_width.options__1.label"
        }
      ],
      "default": "medium",
      "label": "t:sections.all.heading_width.label",
      "visible_if": "{{ section.settings.heading != blank }}"
    },
    {
      "type": "inline_richtext",
      "id": "description",
      "label": "t:sections.all.text.label",
      "default": "t:sections.hero.settings.description.default"
    },
    {
      "type": "select",
      "id": "vertical_alignment",
      "options": [
        {
          "value": "top",
          "label": "t:sections.all.vertical_alignment.options__1.label"
        },
        {
          "value": "center",
          "label": "t:sections.all.vertical_alignment.options__2.label"
        },
        {
          "value": "bottom",
          "label": "t:sections.all.vertical_alignment.options__3.label"
        },
        {
          "value": "stretch",
          "label": "t:sections.all.vertical_alignment.options__4.label"
        }
      ],
      "default": "stretch",
      "label": "t:sections.all.vertical_alignment.label",
      "visible_if": "{{ section.settings.subheading != blank or section.settings.heading != blank or section.settings.description != blank }}"
    },
    {
      "type": "text_alignment",
      "id": "horizontal_alignment",
      "label": "t:sections.all.horizontal_alignment.label",
      "default": "center",
      "visible_if": "{{ section.settings.subheading != blank or section.settings.heading != blank or section.settings.description != blank }}"
    },
    {
      "type": "header",
      "content": "t:sections.all.button.header_button.content"
    },
    {
      "type": "checkbox",
      "id": "show_button",
      "default": true,
      "label": "t:sections.all.button.button_show.label"
    },
    {
      "type": "text",
      "id": "button_label",
      "label": "t:sections.all.button.button_label.label",
      "default": "t:sections.all.button.button_label.default_shop_now",
      "visible_if": "{{ section.settings.show_button == true }}"
    },
    {
      "type": "url",
      "id": "button_link",
      "label": "t:sections.all.button.button_link.label",
      "visible_if": "{{ section.settings.show_button == true }}"
    },
    {
      "type": "select",
      "id": "button_style",
      "options": [
        {
          "value": "primary",
          "label": "t:sections.all.button.button_style.options__1.label"
        },
        {
          "value": "secondary",
          "label": "t:sections.all.button.button_style.options__2.label"
        },
        {
          "value": "tertiary",
          "label": "t:sections.all.button.button_style.options__3.label"
        }
      ],
      "default": "primary",
      "label": "t:sections.all.button.button_style.label",
      "visible_if": "{{ section.settings.show_button == true }}"
    },
    {
      "type": "header",
      "content": "t:sections.all.section-margin.header.content"
    },
    {
      "type": "select",
      "id": "margin_top",
      "options": [
        {
          "value": "no-indent",
          "label": "t:sections.all.section-margin.options__1.label"
        },
        {
          "value": "xs",
          "label": "t:sections.all.section-margin.options__2.label"
        },
        {
          "value": "s",
          "label": "t:sections.all.section-margin.options__3.label"
        },
        {
          "value": "m",
          "label": "t:sections.all.section-margin.options__4.label"
        },
        {
          "value": "l",
          "label": "t:sections.all.section-margin.options__5.label"
        },
        {
          "value": "xl",
          "label": "t:sections.all.section-margin.options__6.label"
        }
      ],
      "default": "no-indent",
      "label": "t:sections.all.section-margin.margin_top.label"
    },
    {
      "type": "select",
      "id": "margin_bottom",
      "options": [
        {
          "value": "no-indent",
          "label": "t:sections.all.section-margin.options__1.label"
        },
        {
          "value": "xs",
          "label": "t:sections.all.section-margin.options__2.label"
        },
        {
          "value": "s",
          "label": "t:sections.all.section-margin.options__3.label"
        },
        {
          "value": "m",
          "label": "t:sections.all.section-margin.options__4.label"
        },
        {
          "value": "l",
          "label": "t:sections.all.section-margin.options__5.label"
        },
        {
          "value": "xl",
          "label": "t:sections.all.section-margin.options__6.label"
        }
      ],
      "default": "no-indent",
      "label": "t:sections.all.section-margin.margin_bottom.label"
    }
  ],
  "blocks": [
    {
      "type": "media_block",
      "name": "t:sections.hero.blocks.media_block.name",
      "settings": [
        {
          "type": "checkbox",
          "id": "enable_image",
          "default": true,
          "label": "t:sections.all.enable_image.label"
        },
        {
          "type": "image_picker",
          "id": "image_desktop",
          "label": "t:sections.all.image.label",
          "visible_if": "{{ block.settings.enable_image == true }}"
        },
        {
          "type": "image_picker",
          "id": "image_mobile",
          "label": "t:sections.all.image_mobile.label",
          "visible_if": "{{ block.settings.enable_image == true }}"
        },
        {
          "type": "checkbox",
          "id": "show_video",
          "label": "t:sections.all.video.show_video.label",
          "info": "t:sections.all.video.show_video.info",
          "default": false
        },
        {
          "type": "video",
          "id": "video",
          "label": "t:sections.all.video.video.label",
          "visible_if": "{{ block.settings.show_video == true }}"
        },
        {
          "type": "range",
          "id": "overlay_opacity",
          "default": 15,
          "min": 0,
          "max": 100,
          "step": 1,
          "unit": "%",
          "label": "t:sections.all.overlay_opacity.label"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "t:sections.hero.name",
      "category": "t:sections.categories.banners",
      "blocks": [
        {
          "type": "media_block"
        },
        {
          "type": "media_block"
        },
        {
          "type": "media_block"
        },
        {
          "type": "media_block"
        }
      ]
    }
  ]
}
{% endschema %}
