<div class="password-header container">
  {% render 'header-logo', show_logo: true %}

  {%- if shop.password_message != blank -%}
    <div class="password-content">{{ shop.password_message }}</div>
  {%- endif -%}
  <details class="password-modal">
    <summary
      class="password-modal__toggle"
      aria-haspopup="dialog"
      aria-label="{{ 'general.password_page.login_password_button' | t }}"
    >
      <div class="password-modal__toggle-open button button--simple">
        <div class="modal-close-button__inner">
          <div class="button__content">
            {% render 'icon-padlock' %}
            <span class="button__label" data-label="{{- 'general.password_page.login_password_button' | t -}}">
              {{- 'general.password_page.login_password_button' | t -}}
            </span>
          </div>
        </div>
      </div>

      <div class="password-modal__toggle-close" aria-hidden="true">
        <div
          class="modal-close-button button button--simple"
          aria-label="{{ 'accessibility.close' | t }}"
        >
          <div class="modal-close-button__inner">
            <div class="button__content">
              <span class="button__label" data-label="{{- 'accessibility.close' | t -}}">
                {{- 'accessibility.close' | t -}}
              </span>
            </div>
            {% render 'icon-close' %}
          </div>
        </div>
      </div>
    </summary>
    <div
      class="password-modal__wrapper"
      role="dialog"
      aria-labelledby="DialogHeading"
      aria-modal="true"
    >
      <div class="password-modal__content" tabindex="-1">
        <h1 class="password-modal__content-heading h4" id="DialogHeading">
          {{- 'general.password_page.login_form_heading' | t -}}
        </h1>
        {%- form 'storefront_password', class: 'password-form' -%}
          <div class="password-modal__form-wrapper">
            <div class="password-field field field--newsletter{% if form.errors %} password-field--error{% endif %}">
              <div class="field--newsletter-wrapper">
                <input
                  type="password"
                  name="password"
                  id="Password"
                  dir="ltr"
                  class="body-small"
                  autocomplete="current-password"
                  aria-required="true"
                  required
                  style="border: none;"
                  {% if form.errors %}
                    autofocus
                    aria-invalid="true"
                    aria-describedby="PasswordLoginForm-password-error"
                  {%- endif -%}
                  placeholder="{{ 'general.password_page.login_form_password_placeholder' | t }}"
                >
                <label for="Password">
                  {{- 'general.password_page.login_form_password_placeholder' | t -}}
                </label>
                <button name="commit" class="password-button button button--simple focus-inset">
                  <div class="button__content">
                    <span class="button__label" data-label="{{- 'general.password_page.login_form_submit' | t -}}">
                      {{- 'general.password_page.login_form_submit' | t -}}
                    </span>
                  </div>
                </button>
              </div>
            </div>
            {%- if form.errors -%}
              <div id="PasswordLoginForm-password-error" role="status">
                <span class="visually-hidden">{{ 'accessibility.error' | t }}</span>
                <span class="form__message form__message--error">
                  {{- 'general.password_page.login_form_error' | t -}}
                </span>
              </div>
            {%- endif -%}
          </div>
        {%- endform -%}
        <span class="password-footer__text body-small password-footer__text--with-link">
          {{- 'general.password_page.admin_link_html' | t -}}
        </span>
      </div>
    </div>
  </details>
</div>

{% schema %}
{
  "name": "t:sections.main-password-header.name",
  "tag": "header",
  "settings": [
    {
      "type": "image_picker",
      "id": "logo",
      "label": "t:sections.header.settings.logo.label"
    },
    {
      "type": "range",
      "id": "logo_width",
      "min": 40,
      "max": 240,
      "step": 2,
      "default": 100,
      "unit": "t:sections.header.settings.logo_width.unit",
      "label": "t:sections.header.settings.logo_width.label"
    }
  ]
}
{% endschema %}
