{{ 'section-store-locations.css' | asset_url | stylesheet_tag }}
<script src="{{ 'store-locations.js' | asset_url }}" defer="defer"></script>

{% liquid
  if section.settings.section_ratio_desktop != 'full_height'
    assign aspect_ratio_desktop = section.settings.section_ratio_desktop | split: '/'
    assign temp_desktop = aspect_ratio_desktop[0] | append: '.0'
  endif
%}
{%- style -%}
  {% render 'section-padding' %}
  {% render 'section-margin' %}



  {% if section.settings.section_ratio_desktop == "full_height" %}
    @media screen and (min-width: 990px) {
      .store-locations-{{ section.id }} .store-locations__inner {
        min-height: 100vh;
        min-height: 100svh;
      }

      main > .store-locations-section:first-child > .store-locations-{{ section.id }} .store-locations__inner {
        min-height: calc(100vh - var(--announcement-height) - var(--header-height));
        min-height: calc(100svh - var(--announcement-height) - var(--header-height));
      }
    }
  {% else %}
    @media screen and (min-width: 990px) {
      .store-locations-{{ section.id }} .store-locations__inner {
        aspect-ratio: {{ section.settings.section_ratio_desktop }};
      }
    }
  {% endif %}
{%- endstyle -%}

{% liquid
  assign group_names_string = ''

  for block in section.blocks
    assign group = block.settings.group_name | strip
    unless group_names_string contains group
      assign group_names_string = group_names_string | append: group | append: ','
    endunless
  endfor

  assign group_names = group_names_string | split: ','
%}

{% liquid
  assign has_blank_group = false

  for block in section.blocks
    assign group = block.settings.group_name | strip
    if group == ''
      assign has_blank_group = true
    endif
  endfor
%}

<div class="store-locations store-locations-{{ section.id }} section-{{ section.id }}-padding color-{{ section.settings.color_scheme }} background{% if section.settings.enable_border_top %} section-border-top{% endif %}{% if section.settings.enable_border_bottom %} section-border-bottom{% endif %}">
  {% render 'heading-group', settings: section.settings, class: 'store-locations-header' %}

  <div class="store-locations__inner">
    <div class="store-locations__wrapper{% if section.settings.layout == 'grid' %} store-locations--grid{% elsif section.settings.layout == 'static_grid' %} store-locations--static-grid{% endif %}">
      <div class="store-locations__list">
        {% assign first_block_found = false %}
        {% assign first_block_id = '' %}

        {% comment %} render sticky group list {% endcomment %}
        {%- if group_names.size > 0 -%}
          <div class="store-locations__tabs">
            {%- for group in group_names -%}
              <button
                class="store-locations__tab button {% if group == group_names.first and has_blank_group == false %} button--primary{% else %} button--secondary{% endif %} "
                data-block-identifier="{{- group -}}"
                aria-label="{{- group -}}"
              >
                <div class="button__content">
                  <span class="button__label" data-label="{{- group -}}">{{- group -}}</span>
                </div>
              </button>
            {%- endfor -%}
          </div>
        {%- endif -%}
        <div class="store-locations__locations-outer">
          <div class="store-locations__locations">
            {% comment %} render location list without group {% endcomment %}

            {%- for block in section.blocks -%}
              {%- assign group_name = block.settings.group_name | strip -%}
              {%- if group_name == blank -%}
                {% if first_block_found == false %}
                  {% assign first_block_found = true %}
                  {% assign first_block_id = block.id %}
                {% endif %}
                {% if block.settings.location_info != blank %}
                  <div
                    class="store-locations__location{% if first_block_found and first_block_id == block.id %} highlight--item{% endif %}"
                    data-block-id="{{ block.id }}"
                  >
                    <div class="store-locations__location-info rte">
                      {{ block.settings.location_info }}
                    </div>
                  </div>
                {% endif %}
              {%- endif -%}
            {%- endfor -%}

            {% comment %} render location list with group {% endcomment %}
            {% for group in group_names %}
              <div class="store-locations__group-wrapper" data-group-name="{{ group }}">
                <div class="store-locations__group" data-group-name="{{ group }}">
                  {% liquid
                    assign group_locations = 0

                    for block in section.blocks
                      assign group_name = block.settings.group_name | strip
                      if group_name == group and block.settings.location_info != blank
                        assign group_locations = group_locations | plus: 1
                      endif
                    endfor

                    if group_locations < 10
                      assign group_locations = group_locations | prepend: '0'
                    endif
                  %}
                  <{{ section.settings.heading_location_tag }} class="store-locations__group-title {{ section.settings.heading_location_size }}">
                    {{- group -}}
                  </{{ section.settings.heading_location_tag }}>
                  <p class="subtitle">{{- group_locations -}}</p>
                </div>

                {%- for block in section.blocks -%}
                  {%- assign group_name = block.settings.group_name | strip -%}

                  {%- if group_name == group -%}
                    {% if first_block_found == false %}
                      {% assign first_block_found = true %}
                      {% assign first_block_id = block.id %}
                    {% endif %}
                    {% if block.settings.location_info != blank %}
                      <div
                        class="store-locations__location{% if first_block_found and first_block_id == block.id %} highlight--item{% endif %}"
                        data-block-id="{{ block.id }}"
                        data-group-name="{{ group_name }}"
                      >
                        <div class="store-locations__location-info rte">
                          {{- block.settings.location_info -}}
                        </div>
                      </div>
                    {% endif %}
                  {%- endif -%}
                {%- endfor -%}
              </div>
            {% endfor %}
          </div>
        </div>
      </div>

      <div class="store-locations__media">
        {%- for block in section.blocks -%}
          {%- assign group_name = block.settings.group_name | strip -%}
          <div
            class="store-locations__image{% if first_block_found and first_block_id == block.id %} highlight--item{% endif %}"
            data-block-identifier="{{ block.id }}"
          >
            {%- if block.settings.location_image != blank -%}
              {% liquid
                assign styles = 'object-fit: cover;'

                assign fetch_priority = 'auto'
                assign image_loading = 'lazy'
                if section.index == 1
                  assign fetch_priority = 'high'
                  assign image_loading = 'eager'
                endif

                assign image_desktop = block.settings.location_image
                if section.settings.section_ratio_desktop != 'full_height'
                  assign settings_desktop_aspect_ratio = temp_desktop | divided_by: aspect_ratio_desktop[1] | round: 2
                else
                  assign settings_desktop_aspect_ratio = 1.18
                else
                  assign settings_desktop_aspect_ratio = image_desktop.aspect_ratio
                endif

                assign calc_ratio_desktop = 1
                if image_desktop.aspect_ratio > settings_desktop_aspect_ratio
                  assign calc_ratio_desktop = image_desktop.aspect_ratio | divided_by: settings_desktop_aspect_ratio | round: 2
                endif
                assign widths = '360, 533, 720, 940, 1066, 1200, 1400, 1600, 1800, 2000, 2200, 2400, 2600, 2800, 3000, 3264, 3400, 3584, 3800, 4000, 4200, 4400, 4600, 4800, 5000, 5200, 5400, 5600, 6000'
              %}
              {%- capture sizes -%}
                (min-width: 990px) calc(66.67vw * {{ calc_ratio_desktop }})
              {%- endcapture -%}
              {{
                block.settings.location_image
                | image_url: width: block.settings.location_image.width
                | image_tag:
                  loading: image_loading,
                  widths: widths,
                  sizes: sizes,
                  styles: styles,
                  fetchpriority: fetch_priority
              }}
            {%- else -%}
              {% assign placeholder_index = forloop.index | modulo: 3 | plus: 1 %}
              {{ 'hero-apparel-' | append: placeholder_index | placeholder_svg_tag: 'placeholder-svg' }}
            {%- endif -%}
            {%- if section.settings.layout == 'static_grid' -%}
              <div class="store-locations__overlay">
                {%- if group_name != blank -%}
                  <{{ section.settings.heading_location_tag }} class="store-locations__overlay-title {{ section.settings.heading_location_size }}">{{- group_name -}}</{{ section.settings.heading_location_tag }}>
                {%- endif -%}
                {%- if block.settings.location_info != blank or block.settings.get_in_touch_link != blank -%}
                  <div class="store-locations__overlay-content rte">
                    {%- if block.settings.location_info != blank -%}
                      <div class="store-locations__overlay-info">{{ block.settings.location_info }}</div>
                    {%- endif -%}
                    {%- if block.settings.get_in_touch_link != blank -%}
                      <a href="{{ block.settings.get_in_touch_link }}" class="button button--secondary store-locations__overlay-btn">
                        <div class="button__content">
                          <span class="button__label" data-label="Get in touch">Get in touch</span>
                        </div>
                      </a>
                    {%- endif -%}
                  </div>
                {%- endif -%}
              </div>
            {%- endif -%}
          </div>
        {%- endfor -%}
      </div>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "t:sections.store-locations.name",
  "tag": "section",
  "class": "store-locations-section",
  "enabled_on": {
    "templates": ["*"]
  },
  "settings": [
    {
      "type": "select",
      "id": "layout",
      "label": "Layout",
      "options": [
        {
          "value": "default",
          "label": "Default"
        },
        {
          "value": "grid",
          "label": "Grid"
        },
        {
          "value": "static_grid",
          "label": "Static grid"
        }
      ],
      "default": "default"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "default": "background-1",
      "label": "t:sections.all.color_scheme.label"
    },
    {
      "type": "select",
      "id": "section_ratio_desktop",
      "options": [
        {
          "value": "1/1",
          "label": "1:1"
        },
        {
          "value": "2/1",
          "label": "2:1"
        },
        {
          "value": "3/2",
          "label": "3:2"
        },
        {
          "value": "4/3",
          "label": "4:3"
        },
        {
          "value": "16/9",
          "label": "16:9"
        },
        {
          "value": "21/9",
          "label": "21:9"
        },
        {
          "value": "24/11",
          "label": "t:sections.all.aspect_ratio.recommended.label"
        },
        {
          "value": "full_height",
          "label": "t:sections.all.aspect_ratio.full_height.label"
        }
      ],
      "default": "24/11",
      "label": "t:sections.all.aspect_ratio.desktop.label"
    },
    {
      "type": "checkbox",
      "id": "enable_border_top",
      "default": true,
      "label": "t:sections.all.borders.enable_border_top.label"
    },
    {
      "type": "checkbox",
      "id": "enable_border_bottom",
      "default": true,
      "label": "t:sections.all.borders.enable_border_bottom.label"
    },
    {
      "type": "header",
      "content": "t:sections.all.section_heading_group.header.content"
    },
    {
      "type": "inline_richtext",
      "id": "heading",
      "label": "t:sections.all.heading.label"
    },
    {
      "type": "select",
      "id": "heading_font",
      "options": [
        {
          "value": "heading",
          "label": "t:sections.all.heading_font.options__1.label"
        },
        {
          "value": "body",
          "label": "t:sections.all.heading_font.options__2.label"
        }
      ],
      "default": "body",
      "label": "t:sections.all.heading_font.label",
      "visible_if": "{{ section.settings.heading != blank }}"
    },
    {
      "type": "select",
      "id": "heading_size",
      "options": [
        {
          "value": "h6",
          "label": "t:sections.all.heading_size.options__6.label"
        },
        {
          "value": "h5",
          "label": "t:sections.all.heading_size.options__5.label"
        },
        {
          "value": "h4",
          "label": "t:sections.all.heading_size.options__4.label"
        },
        {
          "value": "h3",
          "label": "t:sections.all.heading_size.options__3.label"
        },
        {
          "value": "h2",
          "label": "t:sections.all.heading_size.options__2.label"
        },
        {
          "value": "h1",
          "label": "t:sections.all.heading_size.options__1.label"
        }
      ],
      "default": "h4",
      "label": "t:sections.all.heading_size.label",
      "visible_if": "{{ section.settings.heading != blank and section.settings.heading_font == 'heading' }}"
    },
    {
      "type": "select",
      "id": "heading_tag",
      "options": [
        {
          "value": "h1",
          "label": "t:sections.all.heading_tag.options__1.label"
        },
        {
          "value": "h2",
          "label": "t:sections.all.heading_tag.options__2.label"
        },
        {
          "value": "h3",
          "label": "t:sections.all.heading_tag.options__3.label"
        },
        {
          "value": "h4",
          "label": "t:sections.all.heading_tag.options__4.label"
        },
        {
          "value": "h5",
          "label": "t:sections.all.heading_tag.options__5.label"
        },
        {
          "value": "h6",
          "label": "t:sections.all.heading_tag.options__6.label"
        },
        {
          "value": "div",
          "label": "t:sections.all.heading_tag.options__7.label"
        }
      ],
      "default": "h2",
      "label": "t:sections.all.heading_tag.label",
      "info": "t:sections.all.heading_tag.info",
      "visible_if": "{{ section.settings.heading != blank }}"
    },
    {
      "type": "checkbox",
      "id": "heading_group_button_show",
      "label": "t:sections.all.button.button_show.label",
      "default": false
    },
    {
      "type": "text",
      "id": "heading_group_button_label",
      "label": "t:sections.all.button.button_label.label",
      "default": "t:sections.all.button.button_label.default_learn_more",
      "visible_if": "{{ section.settings.heading_group_button_show == true }}"
    },
    {
      "type": "url",
      "id": "heading_group_button_link",
      "label": "t:sections.all.button.button_link.label",
      "visible_if": "{{ section.settings.heading_group_button_show == true }}"
    },
    {
      "type": "select",
      "id": "heading_group_button_style",
      "options": [
        {
          "value": "primary",
          "label": "t:sections.all.button.button_style.options__1.label"
        },
        {
          "value": "secondary",
          "label": "t:sections.all.button.button_style.options__2.label"
        },
        {
          "value": "tertiary",
          "label": "t:sections.all.button.button_style.options__3.label"
        }
      ],
      "default": "tertiary",
      "label": "t:sections.all.button.button_style.label",
      "visible_if": "{{ section.settings.heading_group_button_show }}"
    },
    {
      "type": "checkbox",
      "id": "heading_group_enable_border_bottom",
      "default": true,
      "label": "t:sections.all.borders.enable_border_bottom.label",
      "visible_if": "{{ section.settings.heading != blank or section.settings.heading_group_button_show }}"
    },
    {
      "type": "header",
      "content": "t:sections.store-locations.settings.group_name_header.content"
    },
    {
      "type": "select",
      "id": "heading_location_size",
      "options": [
        {
          "value": "h6",
          "label": "t:sections.all.heading_size.options__6.label"
        },
        {
          "value": "h5",
          "label": "t:sections.all.heading_size.options__5.label"
        },
        {
          "value": "h4",
          "label": "t:sections.all.heading_size.options__4.label"
        },
        {
          "value": "h3",
          "label": "t:sections.all.heading_size.options__3.label"
        },
        {
          "value": "h2",
          "label": "t:sections.all.heading_size.options__2.label"
        },
        {
          "value": "h1",
          "label": "t:sections.all.heading_size.options__1.label"
        }
      ],
      "default": "h4",
      "label": "t:sections.all.heading_size.label"
    },
    {
      "type": "select",
      "id": "heading_location_tag",
      "options": [
        {
          "value": "h1",
          "label": "t:sections.all.heading_tag.options__1.label"
        },
        {
          "value": "h2",
          "label": "t:sections.all.heading_tag.options__2.label"
        },
        {
          "value": "h3",
          "label": "t:sections.all.heading_tag.options__3.label"
        },
        {
          "value": "h4",
          "label": "t:sections.all.heading_tag.options__4.label"
        },
        {
          "value": "h5",
          "label": "t:sections.all.heading_tag.options__5.label"
        },
        {
          "value": "h6",
          "label": "t:sections.all.heading_tag.options__6.label"
        },
        {
          "value": "div",
          "label": "t:sections.all.heading_tag.options__7.label"
        }
      ],
      "default": "h2",
      "label": "t:sections.all.heading_tag.label",
      "info": "t:sections.all.heading_tag.info"
    },
    {
      "type": "header",
      "content": "t:sections.all.section-padding.header.content"
    },
    {
      "type": "select",
      "id": "padding_top",
      "options": [
        {
          "value": "no-indent",
          "label": "t:sections.all.section-padding.options__1.label"
        },
        {
          "value": "xs",
          "label": "t:sections.all.section-padding.options__2.label"
        },
        {
          "value": "s",
          "label": "t:sections.all.section-padding.options__3.label"
        },
        {
          "value": "m",
          "label": "t:sections.all.section-padding.options__4.label"
        },
        {
          "value": "l",
          "label": "t:sections.all.section-padding.options__5.label"
        },
        {
          "value": "xl",
          "label": "t:sections.all.section-padding.options__6.label"
        }
      ],
      "default": "no-indent",
      "label": "t:sections.all.section-padding.padding_top.label"
    },
    {
      "type": "select",
      "id": "padding_bottom",
      "options": [
        {
          "value": "no-indent",
          "label": "t:sections.all.section-padding.options__1.label"
        },
        {
          "value": "xs",
          "label": "t:sections.all.section-padding.options__2.label"
        },
        {
          "value": "s",
          "label": "t:sections.all.section-padding.options__3.label"
        },
        {
          "value": "m",
          "label": "t:sections.all.section-padding.options__4.label"
        },
        {
          "value": "l",
          "label": "t:sections.all.section-padding.options__5.label"
        },
        {
          "value": "xl",
          "label": "t:sections.all.section-padding.options__6.label"
        }
      ],
      "default": "no-indent",
      "label": "t:sections.all.section-padding.padding_bottom.label"
    },
    {
      "type": "header",
      "content": "t:sections.all.section-margin.header.content"
    },
    {
      "type": "select",
      "id": "margin_top",
      "options": [
        {
          "value": "no-indent",
          "label": "t:sections.all.section-margin.options__1.label"
        },
        {
          "value": "xs",
          "label": "t:sections.all.section-margin.options__2.label"
        },
        {
          "value": "s",
          "label": "t:sections.all.section-margin.options__3.label"
        },
        {
          "value": "m",
          "label": "t:sections.all.section-margin.options__4.label"
        },
        {
          "value": "l",
          "label": "t:sections.all.section-margin.options__5.label"
        },
        {
          "value": "xl",
          "label": "t:sections.all.section-margin.options__6.label"
        }
      ],
      "default": "no-indent",
      "label": "t:sections.all.section-margin.margin_top.label"
    },
    {
      "type": "select",
      "id": "margin_bottom",
      "options": [
        {
          "value": "no-indent",
          "label": "t:sections.all.section-margin.options__1.label"
        },
        {
          "value": "xs",
          "label": "t:sections.all.section-margin.options__2.label"
        },
        {
          "value": "s",
          "label": "t:sections.all.section-margin.options__3.label"
        },
        {
          "value": "m",
          "label": "t:sections.all.section-margin.options__4.label"
        },
        {
          "value": "l",
          "label": "t:sections.all.section-margin.options__5.label"
        },
        {
          "value": "xl",
          "label": "t:sections.all.section-margin.options__6.label"
        }
      ],
      "default": "no-indent",
      "label": "t:sections.all.section-margin.margin_bottom.label"
    }
  ],
  "blocks": [
    {
      "type": "location",
      "name": "t:sections.store-locations.blocks.location.name",
      "settings": [
        {
          "type": "text",
          "id": "group_name",
          "label": "t:sections.store-locations.blocks.location.settings.group_name.label",
          "info": "t:sections.store-locations.blocks.location.settings.group_name.info"
        },
        {
          "type": "richtext",
          "id": "location_info",
          "label": "t:sections.store-locations.blocks.location.settings.location_info.label",
          "default": "t:sections.store-locations.blocks.location.settings.location_info.default"
        },
        {
          "type": "image_picker",
          "id": "location_image",
          "label": "t:sections.all.image.label"
        },
        {
          "type": "url",
          "id": "get_in_touch_link",
          "label": "Get in touch link"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "t:sections.store-locations.presets.name",
      "category": "t:sections.categories.storytelling",
      "blocks": [
        {
          "type": "location",
          "settings": {
            "group_name": "Toronto"
          }
        },
        {
          "type": "location",
          "settings": {
            "group_name": "New York"
          }
        },
        {
          "type": "location",
          "settings": {
            "group_name": "Toronto"
          }
        },
        {
          "type": "location",
          "settings": {
            "group_name": "Paris"
          }
        },
        {
          "type": "location",
          "settings": {
            "group_name": "New York"
          }
        }
      ]
    }
  ]
}
{% endschema %}
