{{ 'section-testimonials.css' | asset_url | stylesheet_tag }}
{{ 'component-card-complementary.css' | asset_url | stylesheet_tag }}

{% if section.blocks.size > 1 %}
  <script src="{{ 'testimonials.js' | asset_url }}" defer="defer"></script>
  {% if section.settings.animation_type == 'creative' %}
    {{ 'component-creative-text-animation.css' | asset_url | stylesheet_tag }}
    <script src="{{ 'split-type.min.js' | asset_url }}" defer="defer"></script>
    <script src="{{ 'creative-slider-animation.js' | asset_url }}" defer="defer"></script>
  {% endif %}
{% endif %}

{% liquid
  case settings.card_media_ratio
    when 'landscape'
      assign product_card_padding_bottom = '75%'
    when 'portrait'
      assign product_card_padding_bottom = '132.6%'
    when 'square'
      assign product_card_padding_bottom = '100%'
    else
      assign product_card_padding_bottom = '100%'
  endcase

  if section.settings.image_aspect_ratio_mobile == 'adapt'
    if section.settings.image != blank
      assign padding_bottom_mobile = 1 | divided_by: section.settings.image.aspect_ratio | times: 100 | round: 2
    else
      assign padding_bottom_mobile = '0'
    endif
  elsif section.settings.image_aspect_ratio_mobile == 'landscape'
    assign padding_bottom_mobile = '69.5'
  elsif section.settings.image_aspect_ratio_mobile == 'portrait'
    assign padding_bottom_mobile = '135.6'
  elsif section.settings.image_aspect_ratio_mobile == 'square'
    assign padding_bottom_mobile = '100'
  endif
%}

{%- style -%}
  {% render 'section-padding' %}
  {% render 'section-margin' %}

  {% if section.blocks.size > 1 and section.settings.animation_type == 'creative' %}
    .testimonials-{{ section.id }} .swiper-wrapper.testimonials__media-wrapper {
      transition-timing-function: cubic-bezier(0.65, 0.24, 0.21, 1);
    }
  {% endif %}

  #shopify-section-{{ section.id }} .testimonials__media-slide::before {
    padding-bottom: unset;
  }

  @media screen and (max-width: 749px) {
    #shopify-section-{{ section.id }} .testimonials__media-slide::before {
      content: '';
      display: block;
      width: 0;
      padding-bottom: {{ padding_bottom_mobile}}%;
    }
  }
{%- endstyle -%}

<div class="testimonials testimonials-{{ section.id }} color-{{ section.settings.color_scheme }} background section-{{ section.id }}-padding{% if section.settings.enable_border_top %} section-border-top{% endif %}{% if section.settings.enable_border_bottom %} section-border-bottom{% endif %}">
  <div>
    {% render 'heading-group', settings: section.settings, class: 'testimonials-header', has_slider_controls: true %}

    <div
      class="testimonials__wrapper"
      {% if section.settings.enable_flowing_cursor %}
        data-flowing-cursor="true"
      {% endif %}
      data-animation-type="{{ section.settings.animation_type }}"
      {% if section.settings.enable_loop %}
        data-loop="true"
      {% endif %}
    >
      {% if section.blocks.size > 0 %}
        <div
          class="testimonials__content{% if section.blocks.size > 1 %} js-content-slider swiper{% endif %}{% if section.settings.enable_flowing_cursor == true %}  flowing-cursor{% endif %}"
        >
          <div class="testimonials__content-slider-wrapper {% if section.blocks.size > 1 %} swiper-wrapper{% endif %}">
            {% for block in section.blocks %}
              <div
                class="testimonials__content-slide swiper-slide"
                {{ block.shopify_attributes }}
              >
                <div class="testimonials__content-rating {% if section.settings.animation_type == 'creative' %} js-fade js-fade-after{% endif %}">
                  <div class="testimonials__content-stars">
                    {% for i in (1..5) -%}
                      {% assign star_class = 'testimonials-star' %}
                      {% if block.settings.rating < forloop.index %}
                        {% assign star_class = star_class | append: ' testimonials-star-empty' %}
                      {% endif %}
                      {% render 'icon-star', class: star_class %}
                    {% endfor %}
                  </div>
                  <div class="testimonials__content-score">{{ block.settings.rating }} / 5</div>
                </div>

                <div class="testimonials__content-text">
                  {%- if block.settings.slide_text != blank -%}
                    <{{ block.settings.slide_heading_tag | default: 'h3' }}
                      class="testimonials__content-heading {{ block.settings.slide_heading_size }}{% if section.settings.animation_type == 'creative' %} js-split-text{% endif %}"
                    >
                      {{- block.settings.slide_text | escape -}}
                    </{{ block.settings.slide_heading_tag | default: 'h3' }}>
                  {%- endif -%}

                  {%- if block.settings.slide_author != blank or block.settings.enable_product == true -%}
                    <div
                      class="testimonials__content-bottom"
                      {% if block.settings.enable_product == true %}
                        style="--image-padding-bottom: {{ product_card_padding_bottom }}; --image-object-fit: {{ settings.card_media_fit }};"
                      {% endif %}
                    >
                      {%- if block.settings.slide_author != blank -%}
                        <span class="testimonials__content-author body-normal {% if section.settings.animation_type == 'creative' %} js-fade{% endif %}">
                          {{- block.settings.slide_author | escape | prepend: '&mdash; ' -}}
                        </span>
                      {%- endif -%}
                      {%- if block.settings.enable_product == true -%}
                        {%- if block.settings.product != blank -%}
                          <div class="testimonials__product {% if section.settings.animation_type == 'creative' %} js-fade{% endif %}">
                            {% render 'product-card-complementary', product_card_product: block.settings.product %}
                          </div>
                        {% else %}
                          {% assign placeholder_index = forloop.index | modulo: 4 | plus: 1 %}
                          <div class="testimonials__product testimonials__product--placeholder {% if section.settings.animation_type == 'creative' %} js-fade{% endif %}">
                            {% render 'product-card-complementary-placeholder', product_number: placeholder_index %}
                          </div>
                        {%- endif -%}
                      {%- endif -%}
                    </div>
                  {%- endif -%}
                </div>
                <div class="testimonials__content-ghost"></div>
              </div>
            {% endfor %}
          </div>

          <div class="testimonials__content-pagination swiper-pagination"></div>
        </div>
        <div
          class="testimonials__media {% if section.blocks.size > 1 %} js-media-slider swiper{% endif %}"
        >
          <div class="testimonials__media-wrapper {% if section.blocks.size > 1 %} swiper-wrapper{% endif %}">
            {% for block in section.blocks %}
              <div
                class="testimonials__media-slide {{ section.settings.aspect_ratio }} mobile--{{ section.settings.image_aspect_ratio_mobile }} {% if section.blocks.size > 1 %} swiper-slide{% endif %}"
                {{ block.shopify_attributes }}
              >
                {% if block.settings.image %}
                  {% liquid
                    assign img_styles = 'object-fit: ' | append: block.settings.object_fit

                    assign image_loading = 'lazy'

                    if section.index == 1 and forloop.index == 1
                      assign image_loading = 'eager'
                    endif

                    assign settings_aspect_ratio = 1

                    if section.settings.aspect_ratio == 'adapt'
                      assign settings_aspect_ratio = block.settings.image.aspect_ratio
                    elsif section.settings.aspect_ratio == 'landscape'
                      assign settings_aspect_ratio = 1.44
                    elsif section.settings.aspect_ratio == 'portrait'
                      assign settings_aspect_ratio = 0.76
                    elsif section.settings.aspect_ratio == 'square'
                      assign settings_aspect_ratio = 1
                    endif

                    assign calc_ratio = 1

                    if block.settings.image.aspect_ratio > settings_aspect_ratio and block.settings.object_fit == 'cover'
                      assign calc_ratio = block.settings.image.aspect_ratio | divided_by: settings_aspect_ratio
                    endif
                  %}
                  {% capture img_sizes %}
                    '(min-width: 1200px) calc(50vw * {{ calc_ratio }}), calc(100vw * {{ calc_ratio }})'
                  {% endcapture %}
                  {{
                    block.settings.image
                    | image_url: width: block.settings.image.width
                    | image_tag:
                      width: block.settings.image.width,
                      height: block.settings.image.height,
                      widths: '360, 535, 600, 720, 940, 1066, 1200, 1400, 1600, 1800, 2000, 2200, 2400, 2600, 2800, 3000, 3200, 3400, 3600, 3800',
                      sizes: img_sizes,
                      class: 'testimonials__image',
                      style: img_styles,
                      loading: image_loading
                  }}
                {% else %}
                  {% assign image_index = forloop.index | minus: 1 | modulo: 3 | plus: 1 %}
                  {% liquid
                    if section.settings.image_aspect_ratio_mobile == 'adapt'
                      assign placeholder_class = 'placeholder-svg adapt-to-image'
                    else
                      assign placeholder_class = 'placeholder-svg'
                    endif
                  %}
                  {{ 'hero-apparel-' | append: image_index | placeholder_svg_tag: placeholder_class }}
                {% endif %}

                {% if block.settings.overlay_opacity != 0 %}
                  <span
                    class="testimonials__overlay"
                    style="opacity: {{ block.settings.overlay_opacity | times: 0.01 }};"
                  ></span>
                {% endif %}
              </div>
            {% endfor %}
          </div>
        </div>
        {% if section.settings.enable_flowing_cursor == true %}
          <div class="testimonials-cursor">
            {% render 'icon-arrow-right-hover' %}
          </div>
        {% endif %}
      {% endif %}
    </div>
  </div>
</div>

{% schema %}
{
  "name": "t:sections.testimonials.name",
  "tag": "section",
  "class": "testimonials-section",
  "enabled_on": {
    "templates": ["*"]
  },
  "settings": [
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "default": "background-1",
      "label": "t:sections.all.color_scheme.label"
    },
    {
      "type": "checkbox",
      "id": "enable_border_top",
      "default": true,
      "label": "t:sections.all.borders.enable_border_top.label"
    },
    {
      "type": "checkbox",
      "id": "enable_border_bottom",
      "default": false,
      "label": "t:sections.all.borders.enable_border_bottom.label"
    },
    {
      "type": "checkbox",
      "id": "enable_flowing_cursor",
      "default": true,
      "label": "t:sections.testimonials.settings.enable_flowing_cursor.label"
    },
    {
      "type": "checkbox",
      "id": "enable_loop",
      "default": true,
      "label": "t:sections.all.slider.enable_loop.label"
    },
    {
      "type": "select",
      "id": "animation_type",
      "options": [
        {
          "value": "slide",
          "label": "t:sections.all.slider.animation_type.options__1.label"
        },
        {
          "value": "fade",
          "label": "t:sections.all.slider.animation_type.options__2.label"
        },
        {
          "value": "creative",
          "label": "t:sections.all.slider.animation_type.options__3.label"
        }
      ],
      "default": "slide",
      "label": "t:sections.all.slider.animation_type.label"
    },
    {
      "type": "header",
      "content": "t:sections.all.section_heading_group.header.content"
    },
    {
      "type": "inline_richtext",
      "id": "heading",
      "label": "t:sections.all.heading.label",
      "default": "t:sections.testimonials.settings.heading.default"
    },
    {
      "type": "select",
      "id": "heading_font",
      "options": [
        {
          "value": "heading",
          "label": "t:sections.all.heading_font.options__1.label"
        },
        {
          "value": "body",
          "label": "t:sections.all.heading_font.options__2.label"
        }
      ],
      "default": "body",
      "label": "t:sections.all.heading_font.label",
      "visible_if": "{{ section.settings.heading != blank }}"
    },
    {
      "type": "select",
      "id": "heading_size",
      "options": [
        {
          "value": "h6",
          "label": "t:sections.all.heading_size.options__6.label"
        },
        {
          "value": "h5",
          "label": "t:sections.all.heading_size.options__5.label"
        },
        {
          "value": "h4",
          "label": "t:sections.all.heading_size.options__4.label"
        },
        {
          "value": "h3",
          "label": "t:sections.all.heading_size.options__3.label"
        },
        {
          "value": "h2",
          "label": "t:sections.all.heading_size.options__2.label"
        },
        {
          "value": "h1",
          "label": "t:sections.all.heading_size.options__1.label"
        }
      ],
      "default": "h6",
      "label": "t:sections.all.heading_size.label",
      "visible_if": "{{ section.settings.heading != blank and section.settings.heading_font == 'heading' }}"
    },
    {
      "type": "select",
      "id": "heading_tag",
      "options": [
        {
          "value": "h1",
          "label": "t:sections.all.heading_tag.options__1.label"
        },
        {
          "value": "h2",
          "label": "t:sections.all.heading_tag.options__2.label"
        },
        {
          "value": "h3",
          "label": "t:sections.all.heading_tag.options__3.label"
        },
        {
          "value": "h4",
          "label": "t:sections.all.heading_tag.options__4.label"
        },
        {
          "value": "h5",
          "label": "t:sections.all.heading_tag.options__5.label"
        },
        {
          "value": "h6",
          "label": "t:sections.all.heading_tag.options__6.label"
        },
        {
          "value": "div",
          "label": "t:sections.all.heading_tag.options__7.label"
        }
      ],
      "default": "h2",
      "label": "t:sections.all.heading_tag.label",
      "info": "t:sections.all.heading_tag.info",
      "visible_if": "{{ section.settings.heading != blank }}"
    },
    {
      "type": "checkbox",
      "id": "heading_group_button_show",
      "label": "t:sections.all.button.button_show.label",
      "default": false
    },
    {
      "type": "text",
      "id": "heading_group_button_label",
      "label": "t:sections.all.button.button_label.label",
      "default": "t:sections.all.button.button_label.default_learn_more",
      "visible_if": "{{ section.settings.heading_group_button_show }}"
    },
    {
      "type": "url",
      "id": "heading_group_button_link",
      "label": "t:sections.all.button.button_link.label",
      "visible_if": "{{ section.settings.heading_group_button_show }}"
    },
    {
      "type": "select",
      "id": "heading_group_button_style",
      "options": [
        {
          "value": "primary",
          "label": "t:sections.all.button.button_style.options__1.label"
        },
        {
          "value": "secondary",
          "label": "t:sections.all.button.button_style.options__2.label"
        },
        {
          "value": "tertiary",
          "label": "t:sections.all.button.button_style.options__3.label"
        }
      ],
      "default": "tertiary",
      "label": "t:sections.all.button.button_style.label",
      "visible_if": "{{ section.settings.heading_group_button_show }}"
    },
    {
      "type": "checkbox",
      "id": "heading_group_enable_border_bottom",
      "default": true,
      "label": "t:sections.all.borders.enable_border_bottom.label"
    },
    {
      "type": "header",
      "content": "t:sections.testimonials.settings.header__4.content"
    },
    {
      "type": "select",
      "id": "aspect_ratio",
      "options": [
        {
          "value": "landscape",
          "label": "t:sections.all.card.image_ratio.options__1.label"
        },
        {
          "value": "portrait",
          "label": "t:sections.all.card.image_ratio.options__2.label"
        },
        {
          "value": "square",
          "label": "t:sections.all.card.image_ratio.options__3.label"
        },
        {
          "value": "adapt",
          "label": "t:sections.all.card.image_ratio.options__4.label"
        }
      ],
      "default": "landscape",
      "label": "t:sections.testimonials.settings.image_ratio_desktop.label"
    },
    {
      "type": "select",
      "id": "image_aspect_ratio_mobile",
      "options": [
        {
          "value": "landscape",
          "label": "t:sections.all.card.image_ratio.options__1.label"
        },
        {
          "value": "portrait",
          "label": "t:sections.all.card.image_ratio.options__2.label"
        },
        {
          "value": "square",
          "label": "t:sections.all.card.image_ratio.options__3.label"
        }
      ],
      "default": "landscape",
      "label": "t:sections.testimonials.settings.image_ratio_mobile.label"
    },
    {
      "type": "header",
      "content": "t:sections.all.section-padding.header.content"
    },
    {
      "type": "select",
      "id": "padding_top",
      "options": [
        {
          "value": "no-indent",
          "label": "t:sections.all.section-padding.options__1.label"
        },
        {
          "value": "xs",
          "label": "t:sections.all.section-padding.options__2.label"
        },
        {
          "value": "s",
          "label": "t:sections.all.section-padding.options__3.label"
        },
        {
          "value": "m",
          "label": "t:sections.all.section-padding.options__4.label"
        },
        {
          "value": "l",
          "label": "t:sections.all.section-padding.options__5.label"
        },
        {
          "value": "xl",
          "label": "t:sections.all.section-padding.options__6.label"
        }
      ],
      "default": "no-indent",
      "label": "t:sections.all.section-padding.padding_top.label"
    },
    {
      "type": "select",
      "id": "padding_bottom",
      "options": [
        {
          "value": "no-indent",
          "label": "t:sections.all.section-padding.options__1.label"
        },
        {
          "value": "xs",
          "label": "t:sections.all.section-padding.options__2.label"
        },
        {
          "value": "s",
          "label": "t:sections.all.section-padding.options__3.label"
        },
        {
          "value": "m",
          "label": "t:sections.all.section-padding.options__4.label"
        },
        {
          "value": "l",
          "label": "t:sections.all.section-padding.options__5.label"
        },
        {
          "value": "xl",
          "label": "t:sections.all.section-padding.options__6.label"
        }
      ],
      "default": "no-indent",
      "label": "t:sections.all.section-padding.padding_bottom.label"
    },
    {
      "type": "header",
      "content": "t:sections.all.section-margin.header.content"
    },
    {
      "type": "select",
      "id": "margin_top",
      "options": [
        {
          "value": "no-indent",
          "label": "t:sections.all.section-margin.options__1.label"
        },
        {
          "value": "xs",
          "label": "t:sections.all.section-margin.options__2.label"
        },
        {
          "value": "s",
          "label": "t:sections.all.section-margin.options__3.label"
        },
        {
          "value": "m",
          "label": "t:sections.all.section-margin.options__4.label"
        },
        {
          "value": "l",
          "label": "t:sections.all.section-margin.options__5.label"
        },
        {
          "value": "xl",
          "label": "t:sections.all.section-margin.options__6.label"
        }
      ],
      "default": "no-indent",
      "label": "t:sections.all.section-margin.margin_top.label"
    },
    {
      "type": "select",
      "id": "margin_bottom",
      "options": [
        {
          "value": "no-indent",
          "label": "t:sections.all.section-margin.options__1.label"
        },
        {
          "value": "xs",
          "label": "t:sections.all.section-margin.options__2.label"
        },
        {
          "value": "s",
          "label": "t:sections.all.section-margin.options__3.label"
        },
        {
          "value": "m",
          "label": "t:sections.all.section-margin.options__4.label"
        },
        {
          "value": "l",
          "label": "t:sections.all.section-margin.options__5.label"
        },
        {
          "value": "xl",
          "label": "t:sections.all.section-margin.options__6.label"
        }
      ],
      "default": "no-indent",
      "label": "t:sections.all.section-margin.margin_bottom.label"
    }
  ],
  "blocks": [
    {
      "type": "testimonials_slide",
      "name": "t:sections.testimonials.blocks.testimonials_slide.name",
      "limit": 10,
      "settings": [
        { "type": "header", "content": "t:sections.testimonials.blocks.testimonials_slide.settings.header_1.content" },
        {
          "type": "textarea",
          "id": "slide_text",
          "default": "t:sections.testimonials.blocks.testimonials_slide.settings.slide_text.default",
          "label": "t:sections.testimonials.blocks.testimonials_slide.settings.slide_text.label"
        },
        {
          "type": "select",
          "id": "slide_heading_size",
          "options": [
            {
              "value": "h5",
              "label": "t:sections.all.heading_size.options__5.label"
            },
            {
              "value": "h4",
              "label": "t:sections.all.heading_size.options__4.label"
            },
            {
              "value": "h3",
              "label": "t:sections.all.heading_size.options__3.label"
            },
            {
              "value": "h2",
              "label": "t:sections.all.heading_size.options__2.label"
            },
            {
              "value": "h1",
              "label": "t:sections.all.heading_size.options__1.label"
            }
          ],
          "default": "h4",
          "label": "t:sections.all.heading_size.label"
        },
        {
          "type": "select",
          "id": "slide_heading_tag",
          "options": [
            {
              "value": "h1",
              "label": "t:sections.all.heading_tag.options__1.label"
            },
            {
              "value": "h2",
              "label": "t:sections.all.heading_tag.options__2.label"
            },
            {
              "value": "h3",
              "label": "t:sections.all.heading_tag.options__3.label"
            },
            {
              "value": "h4",
              "label": "t:sections.all.heading_tag.options__4.label"
            },
            {
              "value": "h5",
              "label": "t:sections.all.heading_tag.options__5.label"
            },
            {
              "value": "h6",
              "label": "t:sections.all.heading_tag.options__6.label"
            },
            {
              "value": "div",
              "label": "t:sections.all.heading_tag.options__7.label"
            }
          ],
          "default": "h3",
          "label": "t:sections.all.heading_tag.label",
          "info": "t:sections.all.heading_tag.info"
        },
        {
          "type": "text",
          "id": "slide_author",
          "default": "t:sections.testimonials.blocks.testimonials_slide.settings.slide_author.default",
          "label": "t:sections.testimonials.blocks.testimonials_slide.settings.slide_author.label"
        },
        { "type": "header", "content": "t:sections.testimonials.blocks.testimonials_slide.settings.header_2.content" },
        {
          "type": "image_picker",
          "id": "image",
          "label": "t:sections.testimonials.blocks.testimonials_slide.settings.image.label"
        },
        {
          "type": "select",
          "id": "object_fit",
          "options": [
            {
              "value": "contain",
              "label": "t:sections.all.card.image_fit.options__1.label"
            },
            {
              "value": "cover",
              "label": "t:sections.all.card.image_fit.options__2.label"
            }
          ],
          "default": "cover",
          "label": "t:sections.all.card.image_fit.label"
        },
        {
          "type": "range",
          "id": "overlay_opacity",
          "min": 0,
          "max": 100,
          "step": 1,
          "default": 0,
          "unit": "%",
          "label": "t:sections.all.overlay_opacity.label"
        },
        {
          "type": "range",
          "id": "rating",
          "min": 0,
          "max": 5,
          "step": 1,
          "default": 4,
          "label": "t:sections.testimonials.blocks.testimonials_slide.settings.rating.label"
        },

        { "type": "header", "content": "t:sections.testimonials.blocks.testimonials_slide.settings.header_3.content" },
        {
          "type": "checkbox",
          "id": "enable_product",
          "default": true,
          "label": "t:sections.testimonials.blocks.testimonials_slide.settings.enable_product.label"
        },
        {
          "type": "product",
          "id": "product",
          "label": "t:sections.testimonials.blocks.testimonials_slide.settings.product.label"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "t:sections.testimonials.name",
      "category": "t:sections.categories.storytelling",
      "blocks": [
        {
          "type": "testimonials_slide"
        },
        {
          "type": "testimonials_slide"
        },
        {
          "type": "testimonials_slide"
        }
      ]
    }
  ]
}
{% endschema %}
